<h4>Email Us for a Free Consultation</h4>
<p>For more information on the Rent a lab manager 1000 microliter plan, please see this <%= link_to 'link.', one_thousand_ml_url  %></p>


<%= link_to "Contact Us", "mailto:hello@happilabs.org?subject=New Customer: 1000 Level Consultation&body=Hey Tom! My name is (insert name here) and on behalf of (organization), I would like to know more about the Rent-a-Lab-Manager!", class: "btn" %>
<br>
<br>
