<h4>To upgrade to the 1000ul subscription...</h4>

<%= link_to "Click here to request request a free consultation", "mailto:hello@happilabs.org?subject=New Customer: 1000 Level Consultation&body=Hi HappiLabs! My name is (insert name here) and at (organization), I would like to know more about the Rent-a-Lab-Manager! Please send me details. Thank you. :)", class: "btn btn-warning" %>
<br>
<br>
