<p>Hello <%= @user.first_name if @user.first_name %>,</p>

<p>
  Welcome to our community of scientists. There are 3 things you can do:
  <ul>
    <li>Share your experiences with plastic lab supplies by <%= link_to "writing a product review", categories_url %>.</li>
    <li>Learn from content on Twitter, at <a href="http://www.twitter.com/happialbs_org">@HappiLabs_org</a></li>
    <li>Hire a <%= link_to "Virtual Lab Manager", one_thousand_ml_url %></li>
  </ul>
  How else can we help you?
</p>

<p>The HappiLabs Team</p>
