<div class="grid">
  <section>
  </section>
    <!-- SERVICE SIDE-->
  <section class="about-us group">
    <h2>What We Do</h2>
    <img src="savings2.png" alt="data for scientists" title="use data to save time and money" class="graph-image">
    <div class="text-right-img text-right-img2">

      <p>
        HappiLabs, LLC is a mission-based, independent <span class="important important-blue">research</span> organization created by scientists and supporters of science. </p>
        <p>We collect data about scientists, the products they use, and the companies they interact with. <span class="important important-blue">Our goal</span> is to provide reliable and trustworthy data for making more informed decisions about their research--<span class="important important-blue">saving time and money</span>.
      </p>
      <p>Scientists, how much time do you spend searching for information about lab supplies? Let experts help. The less you have to think about this stuff, the lower your stress, and the <span class="important important-blue">happier</span> you’ll be. &#9786;</p>

      <%= link_to "SUBSCRIBE TO OUR NEWSLETTER", new_subscriber_url, class: "btn btn-large btn-danger btn-block-third" %>

    </div>
  </section>
</div>

<div class="sky-background">
  <section class="about-us group">
    <h2>How We Do It</h2>

    <div class="text-right-img">

        <p>
        We have organized a growing <span class="important">community</span> of scientists who share data about the quality of their life in the lab. They submit ratings and reviews via a system of surveys & interviews.
        </p>

        <p>
        At HappiLabs Central, a <span class="important">team of PhDs and grad students</span> organize, analyze, and summarize the data. Then we report it to the community in our print and online reports, email newsletters, and <a href="https://twitter.com/HappiLabs_org">Twitter.</a></p>

        <p>This <span class="important">equilibrium of data transfer</span> helps us create a more efficient research enterprise by identifying strenghts and weaknesses in the system.
        </p>

        <!-- <p>Our data sets cover topics including:</p>
        <div id="arrow-li">
          <ul>
            <li>Lab supplies and services</li>
            <li>Science careers</li>
            <li>Grant application system</li>
            <li>Environmental-friendliness</li>
          </ul>
        </div> -->

    </div>

    <img src="cloud-graphic-5.png" alt="data for scientists" title="We are a community of scientists" class="tom-image">
    <p class="shoutout">Graphic created by: Anthony Salvagno, PhD</p>
  </section>
</div>

<div class="whywedoit">
  <section class="about-us">
    <h2>Why We Do It</h2>
    <div class="container">
      <div class="row-fluid text-center">

      <!-- PRICE ITEM-->
          <div class="span4 feature-box price-feature-box why-box">
            <div class="pricing-table gray">
                  <div class="pricing-table-header">
                <span class="price-header">Unhappy Grad Students </span>
              </div>
              <img src="unhappy-grad-students.jpg" alt="unhappy grad student survey" class="img-holder">
                <div class="pricing-table-space"></div>
                  <div class="pricing-table-features">
                    <h4 class="price-value">The Grad Student Satisfaction Survey from <em>Nature</em></h4>
                  <ul>
                  <li>"PhD students became less pleased with their experience"</li>
                  <li><a href="http://www.nature.com/naturejobs/science/articles/10.1038/nj7357-533a">Read more at Nature.com</a></li>
                </ul>
              </div>
            </div>
             </div>
      <!--/ PRICE ITEM-->

      <!-- PRICE ITEM-->
        <div class="span4 feature-box price-feature-box why-box ">
        <div class="pricing-table red">
          <div class="pricing-table-header">
            <span class="price-header">Ruined Experiments</span>
          </div>
          <img src="ruined-experiments.jpg" alt="poor quality control contaminates experiments" title="contaminated plastics ruin your experiments" class="img-holder">
            <div class="pricing-table-space"></div>
              <div class="pricing-table-features">
                <h4 class="price-value">Reports suggest your experiments are at risk:.</h4>
                <ul>
                  <li><a href="http://www.nature.com/news/2010/100423/full/news.2010.200.html">Plastics Hamper DNA Assays</a></li>
                  <li><a href="http://www.sciencemag.org/content/322/5903/917.short">Contaminants Leach from Plasticware</a></li>
                  <li><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0062325">Dispensing Processes Impact Biological Activiy</a></li>
                </ul>
              </div>
          </div>
        </div>
      <!--/ PRICE ITEM-->

      <!-- PRICE ITEM-->
        <div class="span4 feature-box price-feature-box why-box ">
          <div class="pricing-table green">
                <div class="pricing-table-header">
              <span class="price-header">The NIH is Asking for Help</span>
            </div>
              <img src="nih-budget-crunch.jpg" alt="NIH seeks advice during fiscal time" title="NIH asks for help" class="img-holder">
                </div>
              <div class="pricing-table-space"></div>
                <div class="pricing-table-features">
                  <h4 class="price-value">Deputy Director of Extramural Research, Dr. Sally Rockey, says:</h4>
              <ul>
                <li>"We are interested in your ideas about how best to manage in complex budgetary times."</li>
                <li><a href="http://nexus.od.nih.gov/all/2011/10/17/how-do-you-think-we-should-manage-science-in-fiscally-challenging-times/">Read more at NIH.gov</a></li>
              </ul>
              </div>
          </div>
        </div>
      </div>
      <a href="#price-section" class="btn btn-large btn-danger btn-block-third btn-why" title="">Join Our Community</a>
    </div>
  </section>
</div>
