<div class="small-grid group">
    <!-- SERVICE SIDE-->
  <div class="content-container">
    <div id="mission-center">

                <h4>
                <span id="about-mission-highlight"><span class="yellow">OUR MISSION:</span><br> to improve the <span class="yellow">happiness</span> of scientists & <br> the <span class="yellow">quality</span> of their research</span></h4>
    </div>

    <h2>WHAT WE DO</h2>
    
    <div id="vimeo">
        <p class="second-p">Our Founder, Tom, explains the HL story at Technori Pitch...</p>
        <iframe src="//player.vimeo.com/video/71992400" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    
    </div>
    <div class="container group">
      <img src="abouthl.png" alt="data for scientists" title="use data to save time and money" class="about-image">
      <div class="text-right-img">
        <p>
          HappiLabs, LLC was established in Chicago in 2013. We provide virtual lab manager services with a speciality of shopping for scientific lab supplies, chemicals/reagents, and equipment.
        </p>
        <p>
          We noticed that scientists do not have resources available to make informed purchasing decisions about lab supplies and all the companies who sell them.</p> 
          
          <p>What is a fair price? Who has the best quality?</p>

          <p>This results in <strong>wasted time and funding and false data</strong>. Therefore, our goal is to be a reliable resource for making quick, informed decisions about lab supplies.
        </p>
        <p>
          We evaluate lab supplies & equipment, and the companies who make & sell them, on 3 categories:
        </p>
        <div class="evaluation">
            <ol class="group" id="about-evaluation">
              <li>
                <div class="evaluation-category">
                  <img src="money-icon.png" alt="What is the price?" title="lab managers fair price supplies" class="eval-photo">
                  <p>Price</p>
                </div>
              </li>
              <li>
                <div class="evaluation-category">
                  <img src="science-consumable-quality-star.png" alt="Quality ratings" title="lab managers high quality supplies" class="eval-photo">
                  <p>Quality</p>
                </div>
              </li>
             <!--  <li>
                <div class="evaluation-category">
                  <img src="life-science-customer_service.png" alt="customer service" title="life science friendly service" class="eval-photo">
                  <p>Service</p>
                </div>
              </li> -->
              <li id="green-font">
                <div class="evaluation-category">
                  <img src="sustainability-happilabs.png" alt="protect our home planet" title="life science sustainability ratings" class="eval-photo">
                  <p id="green-font">Sustainability</p>
                </div>
              </li>
            </ol>
        </div>
        
        <p>
          How much time do you spend shopping for lab supplies? STOP! <strong>Focus on your science</strong> and let us focus on your shopping. The less you have to think about this stuff, the lower your stress, and the happier you’ll be. Keep scrolling down or...
        </p>
         <div class="">
            <%= link_to "Hire a Virtual Lab Manager", one_thousand_ml_path, class: "btn btn-danger btn-how" %>
          </div>
      </div>
    </div>
  </div>

</div>

      <!-- **************  HOW WE DO IT **************** -->



  <div class="content-container about-us sky-background group" id="how_we_do_it">
    <h2>HOW WE DO IT</h2>

    <div class="container group">
      <div class="text-left-img">

          <p>
          We have organized a growing <span class="important">community</span> of scientists who share opinions about the quality of their life in the lab. They submit ratings and reviews about products, services, and companies they interact with.
          </p>

          <div class="">
            <%= link_to "Meet our scientists!", our_people_path, class: "btn btn-danger btn-how" %>
          </div>

          <p>To supplement user reviews, HappiLabs' scientists perform <strong>independent research</strong> on companies by scanning their website and catalogues, collecting quality documentation, and performing interviews.</p>
          <p>
          At HappiLabs Central, a <%= link_to "team of PhDs and grad students", our_people_path   %> organize, analyze, and summarize the data. Then we use the data to become <strong>awesome shoppers and lab managers</strong>. We also share some data in print and online reports, email newsletters, and <a href="https://twitter.com/HappiLabs_org">Twitter.</a></p>

          <p>This <span class="important">equilibrium of data transfer</span> helps us create a more efficient research enterprise by <strong>empowering scientists</strong> to make intelligent purchasing decisions, resulting in money and time savings.
          </p>

      </div>

      <!-- <img src="savings2.png" alt="data for scientists" title="use data to save time and money" class="graph-image"> -->
       <div id="community-graphic">
         <img src="happy_virtual_lab_managers.png" alt="data for scientists" title="We are a community of scientists" class="tom-image">
         <p>Created by: Anthony Salvagno, PhD</p>
      </div>
    </div>
  </div>


     <!-- **************  WHY WE DO IT **************** -->



  <div class="about-us content-container small-grid group" id="why_we_do_it">
      <div class="page-heading">
        <h2>WHY WE DO IT</h2>
        <div class="contact-us">
          <p>The scientific community has problems that need solving.</p>
        </div>
      </div>

    <div class="container group">

      <div class="row-fluid">

        <div class="why-box group">

          <h3>Contaminated Experiments</h3>

          <!-- <img src="ruined-experiments.jpg" alt="poor quality control contaminates experiments" title="contaminated plastics ruin your experiments" class="img-holder"> -->

            <h4>Reports suggest that low-quality supplies are contaminating your experiments:</h4>
                <ul>
                  <li><a href="http://www.nature.com/news/2010/100423/full/news.2010.200.html">Plastics Hamper DNA Assays</a></li>
                  <li><a href="http://www.sciencemag.org/content/322/5903/917.short">Contaminants Leach from Plasticware</a></li>
                  <li><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0062325">Dispensing Processes Impact Biological Activiy</a></li>
                </ul>
            <h4><span class="why-solution">SOLUTION</span>: Our research identifies low-quality supplies to prevent these problems in your lab.</h4>

                <!-- <div class="goals">
                  <h4>Are you using low-quality lab supplies?</h4>
                </div> -->
        </div>

        <div class="why-box group">

          <h3>NIH is asking for help</h3>

          <!-- <img src="nih-budget-crunch.jpg" alt="NIH seeks advice during fiscal time" title="NIH asks for help" class="img-holder"> -->

            <h4>With shrinking budgets, the NIH is asking for help:</h4>
              <ul>
                <li>"[The NIH is] interested in your ideas about how best to manage in complex budgetary times."</li>
                <li><a href="http://nexus.od.nih.gov/all/2011/10/17/how-do-you-think-we-should-manage-science-in-fiscally-challenging-times/">Read more at NIH.gov</a></li>
              </ul>
              <br>
          <h4><span class="why-solution">SOLUTION</span>: We provide <a href="http://www.happilabs.org/sign_up">resources to help scientists save money on lab supplies</a></h4>

              <!-- <div class="goals">
                <h4>Do you need help managing your lab?</h4>
              </div> -->
        </div>

        <div class="why-box group">

          <h3>Not Enough Jobs</h3>

          <!-- <img src="unhappy_face.jpg" alt="unhappy grad student survey" class="first-why-img"> -->

            <h4>Too many PhD's and a lack of alternative career training are creating an unhappy lab environment for grad students and postdocs: 
            </h4>
            <ul>
                <li><a href="http://www.nature.com/nature/journal/v472/n7343/full/472259b.html">Dismal job prospects for PhD's</a></li>
                <li><a href="http://www.nature.com/naturejobs/science/articles/10.1038/nj7357-533a">Survey: Grad Students are Unhappy</a></li>
            </ul>

            <h4><span class="why-solution">SOLUTION</span>: We created internships to help scientists find jobs away from the bench. <a href="http://www.happilabs.org/jobs">View our jobs</a>. 
            </h4>

            <!-- <div class="goals">
              <h4>Are you one of these grad students?</h4>
            </div> -->
        </div>

      <%= link_to "Become a Member", sign_up_url, class: "btn btn-large btn-success btn-why" %>
    </div>
  </div>


<script>
$(document).ready(function() {
  $('#about').addClass('active');
});
</script>

