
    <!-- SERVICE SIDE-->
  <div class="about-us grid group">
    <h2>What We Do</h2>
    
    <div class="about-us-container group">
      <img src="about_hl.png" alt="data for scientists" title="use data to save time and money" class="about-image">
      <div class="text-right-img">

        <p>
          HappiLabs, LLC is a mission-based, independent <span class="important important-blue">research</span> organization created by scientists and supporters of science. We collect data about life scientists, the products they use, and the companies they interact with. </p>
          <p>Then we analyze, organize, and summarize the data. <span class="important important-blue">Our goal</span> is to provide reliable and easy-to-read information for making exceptional decisions that will improve the quality of research and life in the lab--<span class="important important-blue">saving time and money</span>.
        </p>
            <p>We evaluate companies and products on four categories:</p>
        <div class="section-intro">     
            <ol class="evaluation group" id="about-evaluation">
              <li>Price</li>
              <li>Quality</li>
              <li>Service</li>
              <li id="green-font">Sustainability</li>
            </ol>
        </div>
        <p>Scientists, how much time do you spend searching for information about lab supplies? Let experts help. The less you have to think about this stuff, the lower your stress, and the <span class="important important-blue">happier</span> you’ll be. &#9786;</p>
      
         <!--  <%= link_to "SUBSCRIBE TO OUR NEWSLETTER", new_subscriber_url, class: "btn btn-large btn-danger btn-block-third" %> -->

      </div>
    </div>
  </div>

      

      <!-- **************  HOW WE DO IT **************** -->



  <div class="about-us sky-background group">
    <h2>How We Do It</h2>

    <div class="about-us-container group">
      <div class="text-left-img">

          <p>
          We have organized a growing <span class="important">community</span> of scientists who share opinions about the quality of their life in the lab. They submit ratings and reviews about products, services, companies, and the publishers they interact with.
          </p>
          <p>To supplement user reviews, HL scientists perform independent research on companies by scanning their website, public rating services, and interviews.</p>
          <p>
          At HappiLabs (HL) Central, a <span class="important">team of PhDs and grad students</span> organize, analyze, and summarize the data. Then we share the data with our community in print and online reports, email newsletters, and <a href="https://twitter.com/HappiLabs_org">Twitter.</a></p>

          <p>This <span class="important">equilibrium of data transfer</span> helps us create a more efficient research enterprise by identifying strenghts and weaknesses in the system.
          </p>

      </div>

      <!-- <img src="savings2.png" alt="data for scientists" title="use data to save time and money" class="graph-image"> -->
       <div id="stuff">
         <img src="cloud-graphic-5.png" alt="data for scientists" title="We are a community of scientists" class="tom-image">
         <p>Graphic created by: Anthony Salvagno, PhD</p>
      </div>
    </div>
  </div>


     <!-- **************  WHY WE DO IT **************** -->



  <div class="about-us grid group">
    <h2>Why We Do It</h2>
      <div class="contact-us">
        <p>The scientific community has problems that need solving.</p>
      </div>
    
    <div class="about-us-container group">
      
      <div class="row-fluid">


        <div class="why-box group">

          <h3 class="why-header">Unhappy Grad Students</h3>

          <img src="unhappy-grad-students.jpg" alt="unhappy grad student survey" class="why-img">

            <h4>The Grad Student Satisfaction Survey from <em>Nature</em>
            </h4>
            <ul>
                <li>"PhD students became less pleased with their experience"</li>
                <li><a href="http://www.nature.com/naturejobs/science/articles/10.1038/nj7357-533a">Read more at Nature.com</a></li>
            </ul>

            <h4 class="goals">Our community will improve the happiness of scientists</h4>
        </div>


        <div class="why-box group">

          <h3 class="why-header">Contaminated Experiments?</h3>

          <img src="ruined-experiments.jpg" alt="poor quality control contaminates experiments" title="contaminated plastics ruin your experiments" class="img-holder">

            <h4>Reports suggest your experiments are at risk from low-quality supplies:</h4>
                <ul>
                  <li><a href="http://www.nature.com/news/2010/100423/full/news.2010.200.html">Plastics Hamper DNA Assays</a></li>
                  <li><a href="http://www.sciencemag.org/content/322/5903/917.short">Contaminants Leach from Plasticware</a></li>
                  <li><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0062325">Dispensing Processes Impact Biological Activiy</a></li>
                </ul>

                <h4 class="goals">Our community will identify high-quality lab supplies</h4>
        </div>
      

        <div class="why-box group">

          <h3>NIH is asking for help</h3>

          <img src="nih-budget-crunch.jpg" alt="NIH seeks advice during fiscal time" title="NIH asks for help" class="img-holder">

            <h4>Deputy Director of Extramural Research, Dr. Sally Rockey, says:</h4>
              <ul>
                <li>"We are interested in your ideas about how best to manage in complex budgetary times."</li>
                <li><a href="http://nexus.od.nih.gov/all/2011/10/17/how-do-you-think-we-should-manage-science-in-fiscally-challenging-times/">Read more at NIH.gov</a></li>
              </ul>

              <h4 class="goals">Our community helps scientists spend money more efficiently</h4>
        </div>
        
      
      <a href="sign_up.html.erb" class="btn btn-large btn-danger btn-block-third btn-why" title="">Join the HappiLabs Community</a>
    </div>
  </div>

 <!-- ************** Our People  ****************** -->

<div class="about-us sky-background group">
    <section id="contactus">
    <div class="contact-us">
      <h2>Meet Our People</h2>
      <p>These are the humans working hard to improve your happiness</p>
    </div>

    <div class="human-bio group">
      <h3><span class="people-name">Tom Ruginis</span> - Founder & President (and Science Dude)</h3>
      <img src="tom_ruginis_founder.jpg" alt="president of HappiLabs" class="bio-photo">
      
      <div class="text-right-img-people">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h5>A few fun facts about Tom</h5>
        <ul>
          <li>Favorite science book: Guns, Germs, Steel by Jared Diamond</li>
          <li>Fave restaurant: Piece Pizza Chicago</li>
          <li>Fave scientist: Nikola Tesla, the greatest scientist and entrepreneur ever</li>
        </ul>
      </div>

    </div>

  <!--   <div class="section-intro">
      <h3>Scientific Consultants</h3>
      <p>We have a team of active scientists (PhD's and grad students) who provide us with the empathy necessary to solve the biggest problems that scientists encounter. Would you like to become a Scientific Consultant? APPLY</p>
    </div> -->

    <div class="human-bio group">
      <h3><span class="people-name">Aaron Place, PhD</span> - Cell Biologist by day, Music Producer by night, @Dr_Place</h3>
      <img src="atp3.jpg" alt="president of HappiLabs" class="bio-photo">
      
      <div class="text-right-img-people">
        <p>Aaron is a postdoc at Northwestern University, currently spending his time doing PCR and building relationships with mice. As one of the earliest supporters of HappiLabs, his ideas and scientific mind have helped HL become what it is today.</p>

        <p>At night, Aaron spends his time consulting with HappiLabs as a Data Analyst or making music. He has a passion to create music so the lab experience (especially in the cell culture hood) can be a litte more upbeat. Listen to his latest mix below, or visit <a href="https://soundcloud.com/atp3" alt="Aaron Place, PhD music producer">his SoundCloud page</a> for more sounds from ATP3.</p>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F99619022"></iframe>
        <h5>A few fun facts about Dr. Place</h5>
        <ul>
          <li>Favorite activity: biking along the shores of Lake Michigan</li>
          <li>Fave restaurant: Piece Pizza Chicago</li>
          <li>Fave scientist: Nikola Tesla, the greatest scientist and entrepreneur ever</li>
        </ul>
      </div>

    </div>

    <div class="human-bio group">
      <h3><span class="people-name">Anthony Salvagno, PhD</span> - Science Communicator and Graphic Designer</h3>
      <img src="anthony_salvagno.jpg" alt="president of HappiLabs" class="bio-photo">
      
      <div class="text-right-img-people">
        <p>Anthony Salvagno received his PhD in Physics from the University of New Mexico. While at UNM he became obsessed with making scientific information more accessible and provided open access to all of his research through his <a href="http://research.iheartanthony.com/" alt="Anthony Salvagno, PhD open notebook">open notebook</a>. In conjunction he became interested in graphic design and eventually launched his own firm, IheartAnthony, Inc. Currently, when not designing, he works with the <a href="http://scifundchallenge.org/" alt="scifund challenge">Scifund Challenge</a> to bridge the gap between scientists and the public.</p>
        <h5>A few fun facts about Dr. Salvagno</h5>
        <ul>
          <li>Favorite science book: Guns, Germs, Steel by Jared Diamond</li>
          <li>Fave restaurant: Piece Pizza Chicago</li>
          <li>Fave scientist: Nikola Tesla, the greatest scientist and entrepreneur ever</li>
        </ul>
      </div>

    </div>
  </section>
</div>
