<div class="content-container chicago-sky group">

	<div class="contact-us" id="contact-margin">
		<h1>CONTACT US</h1>
		<p style="color:#fff;">What's on your mind? We're here to listen.</p>
	</div>

	<div class="contact-info group">

		<div class="contact-wrap group">

			<div class="contact-box address group">
				<img src="e_mail.png" alt="contact us via email" class="contact-img">
				<h4>Send us a letter</h4>
				<p class="contactp">755 W Brompton Ave, <br> Suite 3
				</p>
				<p class="contactp"><strong>CHICAGO</strong>, IL 60657
				</p>
			</div>

			<div class="contact-box group">
				<img src="phone.png" alt="contact us via email" class="contact-img">
				<h4>Call or Text</h4>
				<p>312-569-0161</p>
			</div>

			<div class="contact-box group">
				<%= link_to (image_tag("/email.png", alt: "email us!", class: "contact-img")), "mailto:hello@happilabs.org"	 %>
				<h4>Email</h4>

				<p><%= link_to 'hello@happilabs.org', "mailto:hello@happilabs.org" %></p>
			</div>
			
			<div class="tweet-timeline group">
				<a class="twitter-timeline" href="https://twitter.com/HappiLabs_org" data-widget-id="344562470310010880">Tweets by @HappiLabs_org</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			</div>
		</div>

	</div>

</div>





