<div class="about-us group">
    
	<div class="content-container about-us sky-background group" id="how_we_do_it">
	    <h2>Working with HappiLabs</h2>

	    <div class="container group" id="jobs-intro">
	      	<div class="text-left-img">

	        <p>HappiLabs is a small, for-profit company created by a team of scientists. We’re building a community of people who want to help scientists. Read about the problems we're trying to solve: <strong><%= link_to "Why We Do It", about_us_path(anchor: "why_we_do_it") %></strong></p>
	       <!--  <p><strong>Our Mission:</strong> <br>to improve the happiness of scientists and the quality of their research</p> -->
	        <p>We're creating <strong>&#181;Jobs</strong>--like internships, <strong>microjobs</strong> are designed to provide skills development for scientists (grad students and postdocs) who want to find a job away from the bench. They are ideal if you can work evenings or weekends and want supplemental income. We also have internships for undergrads. Meet our current <strong><%= link_to "microjobbers", our_people_path %></strong>.</p>

          <p>As of September 18, 2014 we have:
          </p>
            <ul>
              <li>hired <strong>16 scientists</strong> who were grad students, postdocs, or unemployed</li>
              <li>provided <strong>1,038 hours</strong> of skills development for these scientists</li>
              <li>paid <strong>$21,911.82</strong> at rates ranging from $18-25/hour</li>
            </ul>
	      	</div>

	      <!-- <img src="savings2.png" alt="data for scientists" title="use data to save time and money" class="graph-image"> -->
	       <div id="community-graphic">
	         <img src="happy_virtual_lab_managers.png" alt="data for lab managers and pi's" title="We are a community of happy scientists" class="tom-image-jobs margin-left">
	         <h5>Created by: Anthony Salvagno, PhD</h5>
	      </div>
	    </div>

  	</div>
	    

	<div class="page-heading" id="jobs-heading">
		<h2 class="content-container">Job, &#181;Job & Internship Opportunities</h2>
	</div>

	<!-- <section class="human-bio container" id="lab_supply_analyst">
		<h3><span class="people-name">Lab Supply Analyst</span> - Internship or &#181;Job</h3>

		<p class="jobs-heading-liner">The Lab Supply Analyst position will support and report to our Quality Analyst Manager. It will be your role to research quality & price information about lab supplies, participate in discussions, and summarize your findings.</p>

		<div class="jobs-box group">         
          <h4>Tasks/Duties</h4> 
            <ul>
            <li>Scan company websites and available documentation for specific prdouct terms and features</li>
              <li>Import info into our Product Intelligence Database</li>
              <li>Participate in group discussions about how to visualize and report the information to scientists</li>
              <li>Interact with customers, vendors, and manufacturers of lab supplies</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Experience/Requirements</h4>
            <ul>
              <li>Science (biology, chemistry, etc.), Data Scientist or related major/minor</li>
              <li>Experience in a research lab</li>
              <li>EXCELLENT attention to details</li>
              <li>Familiarity with Google apps (Docs, Hangouts), Powerpoint, Excel, Twitter, and Macs</li>
              <li>A positive, upbeat personality with an ability to be direct, receive constructive feedback, and to proactively communciate expectations from other team members</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Time, Pay, Skills</h4>
            <ul>
              <li>6-8 hours per week</li>
              <li>Undergrads: unpaid internship or $10/hour. Others: $18/hour</li>
              <li>Minimum 1-month commitment</li>
              <li>Skills you'll strengthen: Knowledge about the operations of research labs, scientific supplies, and how startups work.</li>
            </ul>
        </div>

       <a href="https://www.surveymonkey.com/s/happilabsinternapplication"><div class="jobs-box group" id="apply-box">         
          <h4>APPLY HERE!</h4> 
        </div></a>

    </section> -->

    
    <!-- <section class="human-bio container" id="sustainability_analyst">
		<h3><span class="people-name">Sustainability Analyst</span></h3>

		<p class="jobs-heading-liner">HappiLabs is creating the standard and certification guidelines that companies must follow if they want to be recognized as an environmentally-friendly company in the Life Science industry. The Sustainability Analyst will help us achieve this.</p>

		<div class="jobs-box group">         
          <h4>Tasks/Duties</h4> 
            <ul>
            <li>Read or review <a href="http://www.amazon.com/Ecological-Intelligence-Knowing-Impacts-Everything/dp/0385527829">Ecological Intelligence</a> and <a href="http://www.goodguide.com/">GoodGuide.com</a></li>
              <li>Assist in the development and implementation of a survey to evaluate companies</li>
              <li>Analyze and summarize results of the survey</li>
              <li>Distribute our report of the results (call companies, contact bloggers and media)</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Experience/Requirements</h4>
            <ul>
              <li>Environment or Earth Science or related major or minor, or sustainability experience</li>
              <li>A research background and knowledge of the scientific method</li>
              <li>EXCELLENT attention to details and communication skills</li>
              <li>A positive, upbeat personality with an ability to be direct, receive constructive feedback, and to proactively communciate expectations from other team members</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Time, Pay, Skills</h4>
            <ul>
              <li>3-6 hours per week</li>
              <li>Minimum 1-month commitment</li>
              <li>$11/hour for undergrad, starting at $18-25/hr for grad students and postdocs</li>
              <li>Benefits: become a sustainability expert, be part of the team that will create an industry standard that has never existed before</li>
            </ul>
        </div>

       <a href="https://www.surveymonkey.com/s/happilabsinternapplication"><div class="jobs-box group" id="apply-box">         
          <h4>APPLY HERE!</h4> 
        </div></a>

    </section> -->

     <section class="human-bio container" id="sustainability_analyst">
    <h3><span class="people-name">Job: Virtual Lab Manager</h3>

    <p class="jobs-heading-liner">Become a virtual lab manager and help manage labs all around the country. If you have experience as a lab manager or handling your lab's shopping and inventory, you qualify! We're growing, so this position may quickly become more than the hours listed below.<p>

    <div class="jobs-box group">         
          <h4>Tasks/Duties</h4> 
            <ul>
              <li>Shop online for lab supplies, equipment, and reagents</li>
              <li>Communicate with scientists from biotech labs about their research needs</li>
              <li>Communicate with supplier sales reps and customer service</li>
              <li>Collaborate with other virtual lab managers to improve HappiLabs' processes</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Experience/Requirements</h4>
            <ul>
              <li>Must know Google products (Hangout, Docs, gChat)</li>
              <li>Previous experience with shopping or managing inventory for your lab</li>
              <li>Must have excellent phone and email communication skills (if you get nervous when making phone calls, get over it or don't apply)</li>
              <li>Must live in Chicago or San Francisco</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Time, Pay, Skills</h4>
            <ul>
              <li>Starting at 10 hours per week</li>
              <li>3-month commitment</li>
              <li>$25/hour</li>
            </ul>
        </div>

       <a href="https://www.surveymonkey.com/s/happilabsinternapplication"><div class="jobs-box group" id="apply-box">         
          <h4>APPLY HERE!</h4> 
        </div></a>

    </section>

    <h5>That's it. Check back in a month.</h5>
      <!--  <section class="human-bio container" id="sustainability_analyst">
    <h3><span class="people-name">&#181;Job: Assistant Virtual Lab Manager</h3>

    <p class="jobs-heading-liner">Our virtual lab managers need support from time to time. We're specifically looking for someone from University of California-San Francisco (UCSF). This is a great chance to enhance your knowledge about lab supplies, interact with biotech companies in the area, and experience life with a startup.<p>

    <div class="jobs-box group">         
          <h4>Tasks/Duties</h4> 
            <ul>
              <li>Visit our customers on site in San Francisco from time-to-time</li>
              <li>Search online for lab supplies, equipment, and reagents</li>
              <li>Communicate with supplier sales reps and customer service</li>
              <li>Collaborate with other virtual lab managers to improve HappiLabs' processes</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Experience/Requirements</h4>
            <ul>
              <li>Must live in San Francisco, ideally a postdoc from UCSF</li>
              <li>Know Google products (Hangout, Docs, gChat), especially spreadsheets</li>
              <li>Preferred...experience with shopping or managing inventory for your lab</li>
              <li>This sounds cliche, but you must be a decent communicator. If you're shy, this won't work out.</li>
              
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Time, Pay, Skills</h4>
            <ul>
              <li>3 hours per week</li>
              <li>2-month commitment</li>
              <li>$18-25/hour</li>
            </ul>
        </div>

       <a href="https://www.surveymonkey.com/s/happilabsinternapplication"><div class="jobs-box group" id="apply-box">         
          <h4>APPLY HERE!</h4> 
        </div></a>

    </section> -->

    <!-- <section class="human-bio container" id="sustainability_analyst">
    <h3><span class="people-name">&#181;Job: Marketing and Communications Specialist</h3>

    <p class="jobs-heading-liner">HappiLabs generates lots of content that needs to be organized and utilized via our social media networks (mainly our blog and Twitter). This microjob will help us do that.<p>

    <div class="jobs-box group">         
          <h4>Tasks/Duties</h4> 
            <ul>
              <li>Collect and organize new content in our social media database</li>
              <li>Post content to the blog and Twitter</li>
              <li>Planning a a 3-6 month social media strategy</li>
              <li>Interact with team members who will also be collecting content</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Experience/Requirements</h4>
            <ul>
              <li>Experience with Twitter, Wordpress and Google Docs</li>
              <li>A research background and knowledge of the scientific method</li>
              <li>A helping, happy attitude.</li>
              <li>Participate in weekly "lab meeting" via Google Hangout, unless you live in Chicago (meet in person)</li>
            </ul>
        </div>

        <div class="jobs-box group">         
          <h4>Time, Pay, Skills</h4>
            <ul>
              <li>3 hours per week</li>
              <li>Minimum 1-month commitment</li>
              <li>$11/hour for undergrad, starting at $18-25/hr for grad students and postdocs</li>
            </ul>
        </div>

       <a href="https://www.surveymonkey.com/s/happilabsinternapplication"><div class="jobs-box group" id="apply-box">         
          <h4>APPLY HERE!</h4> 
        </div></a>

    </section> -->
</div>
