<div class="about-us group">
    <section class="container group" id="contactus">
  		<h1>Join Our Team</h1>
  		<h4>Are you a grad student or post-doc with a passion for science looking to find a job away from the bench?</h4>
  		<p>We are not hiring full-time or part-time employees, but we are hiring micro-time employees.</p>
  		
  		<p>We are looking to hire people for short projects, 1-3 hours per week. Our goal is to provide scientists with experience and skills development to eventually find a job outside the lab. If you are selected, you will be given a pilot project for 3 hours where we will observe your work ethic and productivity.</p>
  	</section>
</div>
