<div class="group">
    <div class="page-heading">
	  		<h2 class='content-container' id="jobs-heading">Jobs</h2>
	 </div>
	<p class="container heading-liner jobs-heading-liner">HappiLabs is a startup company created by a team of scientists. We’re providing researchers with tools to save them time and money when searching for and purchasing lab supplies, respectively. If you work with HappiLabs, you are contributing to helping scientists all over the world do their job more efficiently.</p>

    <section class="category-index-intro-box group" id="jobs-height">
	  	<!-- <img src="which_brand_final.jpg" alt="jobs with happilabs for happy scientists" title="happy jobs for scientists with happilabs"> -->
	  	
	  	<p style="text-align:center;color:#fff">This is a holder photo until we get our group photo taken</p>
  	</section>


  	<div class="group">

        <div class="contact-box jobs-contact-box group" id="jobs-contact-box">
            <h2 class="jobs-about-us">Our Philosophy</h2>
            <p>If we help scientists do their job better, they can more efficiently improve the health of our planet, ultimately leading to improved happiness on our planet.</p>
        </div>
    </div>
    <section class="container group" id="contactus">

  		<p>We are not hiring full-time or part-time employees, but we are hiring micro-time employees.</p>
  		
  		<p>We are looking to hire people for short projects, 1-3 hours per week. Our goal is to provide scientists with experience and skills development to eventually find a job outside the lab. If you are selected, you will be given a pilot project for 3 hours where we will observe your work ethic and productivity.</p>
  	</section>
</div>
