<div class="about-us container job-page group">
    <div class="page-heading">
	  		<h2 class="content-container">Job Opportunities</h2>
	 </div>
	<p class="container heading-liner jobs-heading-liner">HappiLabs is a startup company created by a team of scientists. We’re providing researchers with tools to save them time and money when searching for and purchasing lab supplies, respectively. If you work with HappiLabs, you are contributing to helping scientists all over the world do their job more efficiently.</p>
	
	<section class="human-bio">
		<h3><span class="people-name">Social Media Communicator</span> - Twitter, Facebook, Blog, LinkedIn</h3>

		<p class="jobs-heading-liner">HappiLabs is looking for a person to jump-start our online marketing efforts. We are focused giving priority to grad students,  post-docs, or unemployed scientists, but are open to hiring non-scientists. It is important that you're excited about science and promoting happiness.</p>

		<div id="review-intro" class="group">         
          <p><strong>Tasks/Duties</strong></p> 
            <ul>
            <li>Follow our social media communications strategy</li>
              <li>Curate content for social media (Twitter, Facebook, LinkedIn) and our newsletters & blog by searching online</li>
              <li>Organize and maintain the database of content</li>
              <li>Manage posting of content to social media platforms</li>
              <li>Participate in the creation of our YouTube series</li>
            </ul>
        </div>

        <div id="review-intro" class="group">         
          <p><strong>Experience/Requirements</strong></p> 
            <ul>
              <li>Knowledge of relevant science news websites and journals, and some social media platforms</li>
              <li>Willingness to learn new social media platforms</li>
              <li>Excellent communication skills</li>
              <li>Must meet in person for 2 hours every other week. Available for Google Hangouts for 2 hours during the other weeks. 1 hour per week you can work on your own time without supervision.</li>
            </ul>
        </div>

        <div id="review-intro" class="group">         
          <p><strong>Time and Pay</strong></p> 
            <ul>
              <li>3 hours per week</li>
              <li>$18-25 per hour</li>
              <li>Minimum 1-month commitment</li>
            </ul>
        </div>
        <div id="review-intro" class="group">         
          <p><strong>Apply</strong></p> 
            <ul>
              <li>Survey Monkey Link</li>
              
            </ul>
        </div>
    </section>

    <!-- <section class="category-index-intro-box group" id="jobs-height">
	  	
	  	<p style="text-align:center;color:#fff">This is a holder photo until we get our group photo taken</p>
  	</section>
	  	
  		<section class="jobs-body small-grid">
		  	<h2 class=''>About the company culture</h2>
		  	<div class="group jobs-body-section">

		        <div class="contact-box jobs-contact-box group" id="jobs-contact-box">
		            <h2 class="jobs-about-us">Our Philosophy</h2>
		            <p>If we help scientists do their job better, they can more efficiently improve the health of our planet, ultimately leading to improved happiness on our planet.</p>
		        </div>
		        <img src="ourpeople/alex-weiksnar.jpg" alt="happilabs team and jobs for happy scientists" class="jobs-img-right">
		    </div>
		    <div class="group jobs-body-section">
		  		<div class="contact-box jobs-contact-box group" id="jobs-contact-box">
		  			<p class="jobs-text-right">We are looking to hire people for short projects, 1-3 hours per week. Our goal is to provide scientists with experience and skills development to eventually find a job outside the lab. If you are selected, you will be given a pilot project for 3 hours where we will observe your work ethic and productivity.</p>
		  		</div>
		  		<img src="ourpeople/tom_ruginis_founder_FINAL.png" alt="happilabs team and jobs for happy scientists" class="jobs-img-right">
		  	</div>
		</section>

	  </section> -->
</div>
