<div class="small-grid content-container group">
	<div class="subscribe-us group">
		  <section class="group">
		    <div class="page-heading page-heading-box">
	        
              <div class="float-left">
                    <h1><span class="ul">1000 &#181;</span>L SERVICE</h1>
      	        <h4>Hire a Lab Manager Consultant to improve the efficiency of your research time and funding.</h4>
              </div>
      	</div>

          <div class="sub-data-box group">

            <img src="rent_lab_manager_happilabs_2.jpg" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="labmanager">
            <div class="contact-box contact-box-nopadding group" id="big-contact-box1000">
                    <h2 class="subscribe-price"><span id="small-price">Starting at </span>$500<span id="small-price">/year</span></h2>
                    <h4>Ideal if your lab is:</h4>
                    <ul class="subscribe-list">
                      <li>A startup</li>
                      <li>Without a manager</li>
                      <li>With an inexperienced or busy manager</li>
                    </ul>
            </div>
          </div>

      </section>

          <h4>Rent a Lab Manager Consultant and we will help you with...</h4>
          <section class="container thousand-benefits-bar group">
            

            <div style="">
              <div class="thous-benefit-box">
                <img src="money-icon.png" alt="analyze your spending habits">
                <h3>Analysis of Spending</h3>
                <ul>
                  <li>Receive an audit on your current spending</li>
                  <li>A report will tell you where you're overspending</li>
                  <li>We'll renegotiate pricing with sales reps</li>
                </ul>
              </div>

              <div class="thous-benefit-box">
                <img src="search_icon.png" alt="analyze your spending habits">
                <h3>Product Searching</h3>
                <ul>
                  <li>We'll search for products with the best quality</li>
                  <li>Anyone in your lab can contact us with a product question</li>
                  <li>We'll obtain quotes with low pricing</li>
                </ul>
              </div>

              <div class="thous-benefit-box">
                <img src="lab-manager-training.png" alt="analyze your spending habits">
                <h3>Lab Manager Training</h3>
                <ul>
                  <li>Learn tips and tricks for shopping</li>
                  <li>Learn how to organize inventory</li>
                   <li>Receive advice about communicating with sales reps</li>
                </ul>
              </div>
            </div>  
          </section>

          <section class="thousand-desc group">
            <h2>Why?</h2>
            <h4>Because your lab might be overspending and using low-quality lab supplies.</h4>
            <div class="why-proof">
              <img src="lab_price_savings.png" alt="don't overspend on lab supplies again" title="HappiLabs Ambassadors efficient lab management with time and money savings" id="price-graph1000">
              <a href="http://www.nature.com/news/2010/100423/full/news.2010.200.html"><img src="contaminated_lab_pipette_plastics.jpg" alt="Low-quality plastics ruin your experiments"></a>
            </div>
            <div class="text-right-img text-right-img-thin">
              <p class="second-p">Running a life science research lab isn't always about the science. It's also a business that requires <strong>careful management of time and money</strong>. If you don't have money to hire a part- or full-time lab manager, or the time to do it yourself, you can rent ours. We provide expert lab managers to labs that need help with the business side of their research.</p>
              <p class="second-p">Improving the quality of your research is our #1 goal. HappiLabs Consultants are experts on product knowledge. We'll make sure you're not paying a higher price than everyone else (left graph), and we'll ensure you are not using low-quality supplies that will throw off your results (left article).</p>
              <p class="second-p"><strong>If you focus on your research, we will focus on your products.</strong></p>
            </div>
          </section>

         <!--  <section>
          <div id="holding-signup-box">
              <h5>To receive a free consultation,<br> email us with your information:</h5>
              <%= link_to "Contact Us", "mailto:hello@happilabs.org?subject=New Customer: 1000 Level Consultation&body=Hey Tom! My name is (insert name here) and on behalf of (organization), I would like to know more about the Rent-a-Lab-Manager!" %>
            </div>

        </section> -->
        <h2>Receive a Free Consultation</h2>
        
        <div class="benefit">
             <h2>Happy Testimonials</h2>
          <div class="testimonial group">
            
            <img class="testimonial-img" src="ourpeople/happy_happilabs_customer_uic.jpg" alt="happy happilabs customer testimonial" title="Scientists are happy about HappiLabs">
            <p class="second-p">"HappiLabs has been extremely helpful. To date, they have <strong>saved us over $1,100</strong> by analyzing our spending and negotiating prices with vendors. They are friendly and customer service is excellent. I am happy that a service like this exists; <strong>it makes my job easier.</strong>"</p>
            <p><a href="http://www.rrc.uic.edu/supplycenter/contact"><em>Jenny Beck, Director of the Research Resource Center at University of IL-Chicago</em> (contact Jenny if you have questions)</a></p>
          </div>
          <div class="testimonial group">
            
            <img class="testimonial-img" src="shad_thaxton_happilabs_testimonial.jpg" alt="happy happilabs customer testimonial" title="Scientists are happy about HappiLabs">
            <p class="second-p">"We hired HappiLabs to help our lab manage spending. They have been <strong>very helpful</strong> with saving money for the lab. Our HappiLabs Ambassador, Tom, has done a good job of teaching our new lab manager.</p>
            <p class="second-p"><strong>We recommend HappiLabs to PI's</strong> who need to save time and/or money with selecting the right supplies for their lab"</p>

            <p><a href="http://www.thaxtonlab.com/"><em>Shad Thaxton, MD/PhD, Assistant Professor at Northwestern University</em></a></p>
          </div>

          </div>

        <div id="holding-signup-box2">
            <div id="holding-box-top">
              <p class="consult-title">Share your info and we'll contact you shortly.</p>
            </div>

          <div class="consult-fields-box">
            <div id="wufoo-q7x4a9">
              Fill out my <a href="http://happilabs.wufoo.com/forms/q7x4a9">online form</a>.
            </div>
            <script type="text/javascript">var q7x4a9;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'happilabs', 
              'formHash':'q7x4a9', 
              'autoResize':true,
              'height':'600',
              'async':true,
              'header':'show'};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { q7x4a9 = new WufooForm();q7x4a9.initialize(options);q7x4a9.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');
            </script>
          </div>
        </div>
    </div>
</div>
