<div class="grid">
	<div class="subscribe-us group">
		
		    <div class="page-heading page-heading-box">
	        <img src="pipette1000.png" alt="10ul subscription" id="subscribe-pipette">
              <div class="float-left">
                    <h2><span class="ul">1000 &#181;</span>L SUBSCRIPTION</h2>
      	        <h4>Rent-a-Lab-Manager</h4>
              </div>
              
                
              
      	</div>
          <img src="lab-manager.jpg" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="labmanager">
          <div class="contact-box group" id="big-contact-box">
              <p>Starting at</p>
              <h2 class="subscribe-price">$1500/<span class="year">year</span></h2>
              <h4>Ideal if your lab is:</h4>
              <ul class="subscribe-list">
                <li>A startup</li>
                <li>Without a manager</li>
                <li>With an inexperienced manager</li>
              </ul>
          </div>
      	<!-- <section class="twohundred_data group">
      		<div class="subscribe-question" id="twomarginleft">
	      		<img src="user_quality_reviews.jpg" alt="Graph of price data" title="Are you paying a fair price?" class="">
	      		<p class="question qleft">Is my lab using low-quality lab supplies?</p>
      		</div>

      		<div class="subscribe-question" id="fortymarginleft">
	      		<img src="savings2.png" alt="Graph of price data" title="Are you paying a fair price?" class="">
	      		<p class="question">How do I know if my lab is paying a fair price?</p>
      		</div>

      	</section> -->

      	<section class="group">
        		<!-- <div id="center-box">
  	      		<ul class="question group">
  		      		<li><i>Am I paying a fair price for lab supplies?</i></li>
  		      		<li><i>How do I know if my lab is using high- or low-quality lab products?</i></li>
  		      	</ul>
  	      	</div> -->

  	      	<img src="report.jpg" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" class="reportimg group">
        		
        		<div class="report-right">
  	      				
        			<p class="text-right-img"><strong>We have your answers.</strong> Data is collected from our community of labs and we evaluate companies and products on four categories:</p>
        				<ol class="evaluation group">
  	      				<li>Price</li>
  	      				<li>Quality</li>
  	      				<li>Service</li>
  	      				<li id="green-font">Sustainability</li>
  	      			</ol>
        			
        			<p class="text-right-img">As a subscriber, you will have access to information for making quick and accurate decisions about lab supplies. No more googling for hours. Say goodbye to asking technical specialists or sales reps. </p>

        			<p class="text-right-img">
        			We will tell you the fair price and quality evaluation of the products you are trying to buy. HappiLabs will bring you comfort in knowing that you are efficiently spending your research dollars and maximizing the quality of your research. <p>
        		</div>
      	</section>

      	<section>

          <div class="benefit">
            <h5>The 200 ul subscription will provide you with these benefits for 1-year:</h5>
            <ul>
              <li>A quarterly report on our in-depth analysis about the price & quality of common lab supplies</li>
              <li>Online access to our real-time data</li>
              <li>Comfort in knowing that you are efficiently spending your grant money and maximizing the quality of your research.</li>

            </ul>

          </div>

          <div id="holding-signup-box">
              <h5>To receive a free consultation,<br> leave your info below:</h5>
              <ul>
                <li>First name | Last name</li>
                <li>Email</li>
                <li>Phone number</li>
                <li>Job title</li>
                <li>Instituation/Organization</li>
              </ul>
              <!-- <p>This is where the sign up fields will go:<br> first name | last name<br> email<br> phone number<br> job title<br> organization</p>
              <p>Last name</p> -->
            </div>

        </section>
	
    </div>
</div>