<div class="grid">
	<div class="subscribe-us group">
		  <section class="group">
		    <div class="page-heading page-heading-box">
	        <img src="products/pipette1000.png" alt="10ul subscription" id="subscribe-pipette">
              <div class="float-left">
                    <h1><span class="ul">1000 &#181;</span>L SUBSCRIPTION</h1>
      	        <h4>Rent-a-Lab-Manager (aka HappiLabs Ambassador)</h4>
              </div>
              
                
              
      	</div>
          <img src="lab-manager.jpg" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="labmanager">
          <div class="contact-box group" id="big-contact-box">
              <p>Starting at</p>
              <h2 class="subscribe-price">$1500<span class="year">/year</span></h2>
              <h4>Ideal if your lab is:</h4>
              <ul class="subscribe-list">
                <li>A startup</li>
                <li>Without a manager</li>
                <li>With an inexperienced manager</li>
              </ul>
          </div>
      </section>

          <section class="thousand-desc">
            <h2>Why?</h2>
            <p class="second-p">Running a life science research lab isn't always about the science. It's also a business that requires <strong>careful management of time and money</strong>. If you don't have money to hire a part- or full-time lab manager, you can rent ours. We provide expert lab managers to labs that need help with the business side of their research.</p>
            <p class="second-p">We want to make sure your experience as a P.I. is as stressless as possible. You can hire a technician or new manager, but do they have the knowledge and personality to shop efficiently? negotiate with companies?
            Our HappiLabs Ambassadors are available to improve the efficiency of your lab.</p>
          </section>

          <section class="container thousand-benefits-bar group">
            <div class="thous-benefit-box">
              <img src="money-icon.png" alt="analyze your spending habits">
              <h3>Spending Analysis</h3>
              <ul>
                <li>Organize spending habits</li>
                <li>A report on your spending</li>
                <li>Are you overspending</li>
              </ul>
            </div>

            <div class="thous-benefit-box">
              <img src="sustainability-happilabs.png" alt="analyze your spending habits">
              <h3>Lab meeting consult</h3>
              <ul>
                <li>Receive a spending audit</li>
                <li>Receive a spending audit</li>
                <li>Receive a spending audit</li>
              </ul>
            </div>

            <div class="thous-benefit-box">
              <img src="search_icon.png" alt="analyze your spending habits">
              <h3>Product Searching</h3>
              <ul>
                <li>We'll make sure you're buying quality supplies</li>
                <li>Search internet & call vendors</li>
                <li>Obtain quotes</li>
              </ul>
            </div>

            <div class="thous-benefit-box">
              <img src="lab-manager-training.png" alt="analyze your spending habits">
              <h3>Lab Manager Training</h3>
              <ul>
                <li>Receive tips and tricks for shopping</li>
                <li>Learn how to organize inventory</li>
              </ul>
            </div>
          </section>



          <section>
          <div id="holding-signup-box">
              <h5>To receive a free consultation,<br> leave your info below:</h5>
              <ul>
                <li>First name | Last name</li>
                <li>Email</li>
                <li>Phone number</li>
                <li>Job title</li>
                <li>Instituation/Organization</li>
              </ul>
              <!-- <p>This is where the sign up fields will go:<br> first name | last name<br> email<br> phone number<br> job title<br> organization</p>
              <p>Last name</p> -->
            </div>

        </section>
	
    </div>
</div>