<div class="grid content-container group">
	<div class="subscribe-us group">
		  <section class="group">
		    <div class="page-heading page-heading-box">
	        <img src="products/pipette1000.png" alt="10ul subscription" id="subscribe-pipette">
              <div class="float-left">
                    <h1><span class="ul">1000 &#181;</span>L SERVICE</h1>
      	        <h4>Rent-a-Lab-Manager (aka HappiLabs Ambassador)</h4>
              </div>



      	</div>

          <div class="sub-data-box group">

            <img src="rent_lab_manager_happilabs_2.JPG" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="labmanager">
            <div class="contact-box contact-box-nopadding group" id="big-contact-box1000">
                    <h2 class="subscribe-price">$1500+<span class="year"> /year</span></h2>
                    <h4>Ideal if your lab is:</h4>
                    <ul class="subscribe-list">
                      <li>A startup</li>
                      <li>Without a manager</li>
                      <li>With an inexperienced manager</li>
                    </ul>
            </div>
          </div>

      </section>

          <section class="thousand-desc group">
            <h2>Why?</h2>
            <h4>Because your lab might be overspending and using low-quality lab supplies.</h4>
            <div class="why-proof">
              <img src="lab_price_savings.png" alt="don't overspend on lab supplies again" title="HappiLabs Ambassadors efficient lab management with time and money savings" id="price-graph1000">
              <img src="contaminated_lab_pipette_plastics.jpg" alt="Low-quality plastics ruin your experiments">
            </div>
            <div class="text-right-img text-right-img-thin">
              <p class="second-p">Running a life science research lab isn't always about the science. It's also a business that requires <strong>careful management of time and money</strong>. If you don't have money to hire a part- or full-time lab manager, or the time to do it yourself, you can rent ours. We provide expert lab managers to labs that need help with the business side of their research.</p>
              <p class="second-p">Improving the quality of your research is our #1 goal. We'll make sure you're paying a fair price and not using low-quality supplies that will throw off your results. If you focus on your research, we will focus on your products.
              Our HappiLabs Ambassadors are available to improve the efficiency of your lab.</p>
            </div>
          </section>

          <h2>Services</h2>
          <h4>Rent a HappiLabs Ambassador and we will help you with...</h4>
          <section class="container thousand-benefits-bar group">
            

            <div style="">
              <div class="thous-benefit-box">
                <img src="money-icon.png" alt="analyze your spending habits">
                <h3>Analysis of Spending</h3>
                <ul>
                  <li>Organization of your spending habits</li>
                  <li>A report on your spending</li>
                  <li>Making sure you're not overspending</li>
                </ul>
              </div>

              <!-- <div class="thous-benefit-box">
                <img src="sustainability-happilabs.png" alt="analyze your spending habits">
                <h3>Lab meeting consult</h3>
                <ul>
                  <li>Receive a spending audit</li>
                  <li>Receive a spending audit</li>
                  <li>Receive a spending audit</li>
                </ul>
              </div> -->

              <div class="thous-benefit-box">
                <img src="search_icon.png" alt="analyze your spending habits">
                <h3>Product Searching</h3>
                <ul>
                  <li>Identifying high-quality supplies</li>
                  <li>Searching internet & calling vendors</li>
                  <li>Negotiating with sales reps</li>
                  <li>Obtaining quotes</li>
                </ul>
              </div>

              <div class="thous-benefit-box">
                <img src="lab-manager-training.png" alt="analyze your spending habits">
                <h3>Lab Manager Training</h3>
                <ul>
                  <li>Tips and tricks for shopping</li>
                  <li>Learn how to organize inventory</li>
                   <li>Advice about negotiating with companies</li>
                </ul>
              </div>
            </div>  
          </section>



         <!--  <section>
          <div id="holding-signup-box">
              <h5>To receive a free consultation,<br> email us with your information:</h5>
              <%= link_to "Contact Us", "mailto:hello@happilabs.org?subject=New Customer: 1000 Level Consultation&body=Hey Tom! My name is (insert name here) and on behalf of (organization), I would like to know more about the Rent-a-Lab-Manager!" %>
            </div>

        </section> -->
        <h2>Receive a Free Consultation</h2>
        <div id="holding-signup-box2">
            <div id="holding-box-top">
              <p class="consult-title">Share your info and we'll contact you shortly.</p>
              <p>We will not share, distribute, or sell your information.</p>
            </div>

          <div class="consult-fields-box">
            <div id="wufoo-q7x4a9">
              Fill out my <a href="http://happilabs.wufoo.com/forms/q7x4a9">online form</a>.
            </div>
            <script type="text/javascript">var q7x4a9;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'happilabs', 
              'formHash':'q7x4a9', 
              'autoResize':true,
              'height':'600',
              'async':true,
              'header':'show'};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { q7x4a9 = new WufooForm();q7x4a9.initialize(options);q7x4a9.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');
            </script>
            
          </div>
    </div>
</div>
