<div class="about-us sky-background group">
<section class="container group" id="contactus">
    <div class="contact-us">
      <h1>MEET OUR PEOPLE</h1>
      <p>These are the humans working hard to improve the quality and efficiency of your lab</p>
    </div>

    <div class="human-bio group">
      <h3><span class="people-name">Tom Ruginis</span> - Founder & Chief Happiness Officer | Community Leader</h3>
      <img src="ourpeople/tom_ruginis_founder_FINAL.png" alt="president of HappiLabs" class="bio-photo">

      <div class="text-right-img-people">
        <p>Tom is a former molecular biologist, PhD dropout, and a lifelong student of psychology and neuroscience. His experience and passion for solving problems helped launch HappiLabs in 2013.</p>
        <p>If he's not analyzing data or shopping for lab supplies you can find him networking and socializing in the Chicago entrepreneur and science communities.</p>
        <h5>Observations about Tom</h5>
        <ul>
          <li><strong>Current biological obsession:</strong> the nucleus accumbens</li>
          <li><strong>He recommends</strong>: Guns, Germs, Steel by Jared Diamond</li>
          <li><strong>You'll find him at</strong> Piece Pizza Chicago</li>
          <li><strong>He appreciates:</strong> Nikola Tesla, the greatest scientist and worst entrepreneur ever</li>
        </ul>
      </div>

    </div>
</div>
    <div class="grid">
        <h3 class="our-people-section-heading">Virtual Lab Managers and Consultants</h3>

        <div class="container human-bio group">
          <h3><span class="people-name">Raudel Sandoval, PhD</span> Quality Analyst | @TiredScientist</h3>
          <img src="ourpeople/Raudel_Sandoval_PhD_HappiLabs_Scientific_Consultant.JPG" alt="scientist quality data analyst" class="bio-photo">

          <div class="text-right-img-people">
            <p>Raudel has a PhD in Pharmacology from UIC with 12+ years experience in PCR and cell culture–related experiments.</p> <p>Raudel specializes in data about quality. When you have a question about the quality of supplies or reagents, he's doing the research for you.</p>
            <h5>A few fun facts about Dr. Sandoval:</h5>
            <ul>
              <li>Favorite food: Thai</li>
              <li>He loves soccer</li>
              <li>Fave science TV show: <em>Breaking Bad</em></li>
            </ul>
          </div>
        </div>

         <div class="container human-bio group">
          <h3><span class="people-name">Kate Harrington, PhD student</span> - Data & Legal Analyst | Shopping Consultant</h3>
          <img src="ourpeople/kate.jpg" alt="Kate Harrington scientific intern" class="bio-photo">

          <div class="text-right-img-people">
            <p>Kate is currently in her 6th year of grad school. She helps out at night with varying tasks including research on lab supplies, learning web development, and writing & editing our reports.</p>
            <h5>A few fun facts about Kate:</h5>
            <ul>
              
              <li>Her cat likes participating in Google Hangouts</li>
              <li>She has won 0 online contests/raffles, but keeps trying</li>
            </ul>
          </div>
        </div>

        <div class="container human-bio group">
          <h3><span class="people-name">Nadia Petlakh, PhD student</span> - Chemistry Intern | Quality Analyst</h3>
          <img src="ourpeople/nadia_petlakh.jpg" alt="Kate Harrington scientific intern" class="bio-photo">

          <div class="text-right-img-people">
            <p>Nadia is in the last year of her Ph.D. in Chemistry.  Her responsibilities include editing quality control reports and designing protocols for characterizing leachates in laboratory plasticware.</p>
            <h5>A few fun facts about Nadia:</h5>
            <ul>
              
              <li>Her two cats are named after famous female scientists: Marie Skłodowska Curie and Rosalind Franklin</li>
              <li>Zumba and chocolate alleviate her graduate school-induced stress</li>
              <li>She makes awesome fudge.</li>
            </ul>
          </div>
        </div>

<!-- 
        <div class="container human-bio group">
          <h3><span class="people-name">Aaron Place, PhD</span> - Scientific Advisor | @Dr_Place</h3>
          <img src="ourpeople/dr_aaron_place.jpg" alt="scientist and music producer" class="bio-photo">

          <div class="text-right-img-people">
            <p>Aaron earned his Ph.D. in Pharmacology from the University of Illinois College of Medicine in 2011, and currently spends his days in drug discovery research. With 10+ years experience in a lab setting, his ideas and scientific mind have helped the company become what it is today.</p>

            <p>When not in the lab, Aaron spends some of his time making electronic music.  He hopes that his hobby of creating music can make life and the lab experience a little more upbeat for the listener (especially in the cell culture hood). Listen to his latest mix below, or visit <a href="https://soundcloud.com/atp3" alt="Aaron Place, PhD music producer">his SoundCloud page</a> for more sounds from ATP3.</p>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F99619022"></iframe>
            <h5>A few fun facts about Dr. Place</h5>
            <ul>
              <li>Favorite activity: Biking along the Chicago shores of Lake Michigan</li>
              <li>Favorite food: Asian</li>
              <li>Favorite TV show: The Big Bang Theory</li>
            </ul>
          </div>
        </div> -->


        <div class="container human-bio group">
          <h3><span class="people-name">Ian Street, PhD</span> - Member: Communication and Sustainability Analyst | @IHStreet</h3>
          <img src="ourpeople/ian-street-phd-happilabs.jpg" alt="happy scientist quality data analyst" class="bio-photo">

          <div class="text-right-img-people">
            <p>Ian is a plant developmental biologist working at a university located in New England. His interests in science are broad, however. He loves reading and writing about the culture of science, how science intersects with culture and how we as scientists can produce and do our best work. This involves mental health, how labs are run and how to most effectively learn something new.</p>
            <p>Dr. Street is involved with researching the quality of lab supplies, analyzing that data, and he's a creative mind behind writing the <%= link_to "HappiLabs Reports", two_hundred_ml_path %> and social media content.</p>
            <h5>A few fun facts about Dr. Street:</h5>
            <ul>
              <li>He grew up in Alaska</li>
              <li>"I'm a runner who has to run outside (forward progress and nature are important aspects of my exercise)"</li>
              <li>He's a big fan of <em>Doctor Who</em>. His text alert tone is the TARDIS engine.</li>
            </ul>
          </div>
        </div>

        
        <div class="container human-bio group">
          <h3><span class="people-name">Aidas Mattis, MD/PhD student</span> - Scientific and Startup Advisor</h3>
          <img src="ourpeople/aidas_mattis_happy_science_advisor.jpg" alt="scientist advisor" class="bio-photo">

          <div class="text-right-img-people">
            <p>Aidas comes from a family of scientists and is nearing the end of his MD/PhD. He also owns five businesses (3 restaurant/bars and 2 sausage factories). His experience in a lab and building businesses is a strong asset to the HappiLabs team.</p>
            <h5>A few fun facts about Aidas:</h5>
            <ul>
              <li>He makes beer and wine in his basement</li>
              <li>His favorite food: Sausage</li>
            </ul>
          </div>
        </div>

    </div>

<!-- ===========NEW SECTION ==================== -->


    <div class="sky-background group">
        <h3 class="our-people-section-heading">Web Development and Design Team</h3>
        <div class="container human-bio2 group">
            <h3><span class="people-name">Julia Joseph</span> - Graphic Designer | Front-end Developer</h3>
            <img src="ourpeople/julia_joseph.jpg" alt="happy labs graphic designer" class="bio-photo2">

            <div class="col-2-text-right">
             
              <p>Julia is a product of New York's <i>Parsons the New School for Design</i> and a whiz with Photoshop. She is also a student of The Starter League and enjoys hanging out at 1871 in Chicago.</p>
            </div>
        </div>

        <div class="container human-bio2 group">
            <h3><span class="people-name">Rachel Ruginis</span> - Graphic Designer | Data Visualizer</h3>
            <img src="ourpeople/rachel_ruginis_happy_designer.jpg" alt="happy labs graphic designer" class="bio-photo2">

            <div class="col-2-text-right">
              <p>Rachel is the Queen of PowerPoint and a specialist with InDesign. She designs and creates the HappiLabs reports.</p>
              <p>The sun and other forms of light are of special interest to her.</p>
            </div>
        </div>

        <div class="container human-bio2 group">
            <h3><span class="people-name">Alex Weiksnar</span> - Backend & Frontend Developer</h3>
            <img src="ourpeople/alex-weiksnar.jpg" alt="happy labs backend developer" class="bio-photo2">

            <div class="col-2-text-right">
              <p>Alex is a github rockstar, Ruby on Rails junior developer and co-creator of <a href="http://www.patchlearn.com/">patchlearn.com</a>.</p>
              <h5>A fun fact about Alex</h5>
              <ul>
                <li>When he is not coding, you'll probably find him doing yoyo tricks around Chicago.</li>
              </ul>
            </div>
        </div>

        <div class="container human-bio2 group">
            <h3><span class="people-name">Anthony Salvagno, PhD</span> - Scientific Graphic Designer</h3>
          <img src="ourpeople/anthony_salvagno.jpg" alt="scientist and graphic designer" class="bio-photo2">

            <div class="col-2-text-right">
              <p>Anthony received his PhD in Physics from the University of New Mexico. He has created a few images for HappiLabs, including the virtual lab manager, cloud graphic you see scattered around the internet.</p>
             <h5>A fun fact about Ant</h5>
              <ul>
                <li>He owns a peanut butter & jelly sandwich truck.</li>
              </ul>
            </div>
        </div>
  </div>


<!-- ========== ALUMNI SECTION ==================
============================================
 -->

    <div class="grid">
        <h3 class="our-people-section-heading">Alumni</h3>
        <div class="container human-bio2 group">
            <h3><span class="people-name">Andrew Thaler, PhD</span> - Scientific social media consultant</h3>
            <img src="ourpeople/andrew-thaler-happy-consultant-sfriedscientist.jpg" alt="scientific sustainability communication advisor" class="bio-photo2">

            <div class="col-2-text-right">
               <p>About his experience with HappiLabs: "The "micro job" really did help me out during a pretty rough time and that extra money each month made the difference between cut-rate and decent health insurance."</p>
            </div>
        </div>

        <!-- <div class="container human-bio2 group">
          <h3><span class="people-name">Aaron Place, PhD</span> - Scientific Advisor | @Dr_Place</h3>
          <img src="ourpeople/dr_aaron_place.jpg" alt="scientist and music producer" class="bio-photo2">

          <div class="col-2-text-right">
            <p>Aaron earned his Ph.D. in Pharmacology from the University of Illinois College of Medicine in 2011, and currently spends his days in drug discovery research.</p>
          </div>
        </div> -->

        <div class="container human-bio2 group">
            <h3><span class="people-name">Stephen Puiszis</span> - Backend Developer (Ruby on Rails)</h3>
            <img src="ourpeople/steve_puiszis_developer.jpg" alt="backend developer" class="bio-photo2">

            <div class="col-2-text-right">
              <p>Steve is a lifelong Chicagoan and a startup swiss army knife. His skills include Ruby on Rails development, design, business development, and financial modeling. He is fascinated by space exploration and desperately wants to visit outer space one day.</p>
              
            </div>
        </div>
        
        <div class="container human-bio group">
        
        
    </div>

  </section>
