<div class="about-us sky-background group">
    <section id="contactus">
    <div class="contact-us">
      <h1>MEET OUR PEOPLE</h1>
      <p>These are the humans working hard to improve your happiness</p>
    </div>

    <div class="human-bio group">
      <h3><span class="people-name">Tom Ruginis</span> - Founder & President (and Science Dude)</h3>
      <img src="ourpeople/tom_ruginis_founder_FINAL.png" alt="president of HappiLabs" class="bio-photo">

      <div class="text-right-img-people">
        <p>Tom has a degree in Molecular Biology from Benedictine University and followed that up with a few years of a PhD program at the University of IL-Chicago researching blood vessel development in tumors. Here he realized that the slow pace of research wouldn't allow him to have the impact on society that he wanted.</p> 
        <p>So he dropped out, took a job marketing & selling lab supplies, and became aware of an obvious problem--scientists don't have a resource to compare the price and quality of lab supplies, and it's affecting their progress. He now had a cause to rally around.</p>
        <p>So Tom thought..."If I can improve the efficiency of research by providing a resource to save time and money, I can play a role in the progress of all scientific research, and not only the Notch-1 pathway."" To fuel his passion to fix this problem he is diagnosed with an auto-immune disease (Psoriatic arthritis). Helping scientists work efficiently helps them research the problem that has caused him much pain.<strong> And all of this is the reason HappiLabs exists.</strong></p>
        <h5>A few fun facts about Tom</h5>
        <ul>
          <li><strong>Favorite science book</strong>: Guns, Germs, Steel by Jared Diamond</li>
          <li><strong>Fave restaurant: Piece Pizza Chicago</strong></li>
          <li><strong>Fave scientist:</strong> Nikola Tesla, the greatest scientist and entrepreneur ever</li>
        </ul>
      </div>

    </div>
</div>
<div class="grid">
  <!--   <div class="section-intro">
      <h3>Scientific Consultants</h3>
      <p>We have a team of active scientists (PhD's and grad students) who provide us with the empathy necessary to solve the biggest problems that scientists encounter. Would you like to become a Scientific Consultant? APPLY</p>
    </div> -->

    <!-- <div class="human-bio group">
      <h3><span class="people-name">Aaron Place, PhD</span> - Cell Biologist by day, Music Producer by night, @Dr_Place</h3>
      <img src="atp3.jpg" alt="president of HappiLabs" class="bio-photo">

      <div class="text-right-img-people">
        <p>Aaron is a postdoc at Northwestern University, currently spending his time doing PCR and building relationships with mice. As one of the earliest supporters of HappiLabs, his ideas and scientific mind have helped HL become what it is today.</p>

        <p>At night, Aaron spends his time consulting with HappiLabs as a Data Analyst or making music. He has a passion to create music so the lab experience (especially in the cell culture hood) can be a litte more upbeat. Listen to his latest mix below, or visit <a href="https://soundcloud.com/atp3" alt="Aaron Place, PhD music producer">his SoundCloud page</a> for more sounds from ATP3.</p>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F99619022"></iframe>
        <h5>A few fun facts about Dr. Place</h5>
        <ul>
          <li>Favorite activity: biking along the shores of Lake Michigan</li>
          <li>Fave restaurant: Piece Pizza Chicago</li>
          <li>Fave scientist: Nikola Tesla, the greatest scientist and entrepreneur ever</li>
        </ul>
      </div> -->

  

    <div class="human-bio group">
      <h3><span class="people-name">Anthony Salvagno, PhD</span> - Science Communicator and Graphic Designer</h3>
      <img src="ourpeople/anthony_salvagno.jpg" alt="president of HappiLabs" class="bio-photo">

      <div class="text-right-img-people">
        <p>Anthony Salvagno received his PhD in Physics from the University of New Mexico. While at UNM he became obsessed with making scientific information more accessible and provided open access to all of his research through his <a href="http://research.iheartanthony.com/" alt="Anthony Salvagno, PhD open notebook">open notebook</a>. In conjunction he became interested in graphic design and eventually launched his own firm, IheartAnthony, Inc. Currently, when not designing, he works with the <a href="http://scifundchallenge.org/" alt="scifund challenge">Scifund Challenge</a> to bridge the gap between scientists and the public.</p>
        <h5>A few fun facts about Dr. Salvagno</h5>
        <ul>
          <li>Favorite science book: Guns, Germs, Steel by Jared Diamond</li>
          <li>Fave restaurant: Piece Pizza Chicago</li>
          <li>Fave scientist: Nikola Tesla, the greatest scientist and entrepreneur ever</li>
        </ul>
      </div>
    </div>
</div>
    <div class="human-bio group">
        <h3><span class="people-name">Roy Kim</span> - Front-end Web Developer</h3>
        <img src="ourpeople/roy_kim_web_developer.jpg" alt="president of HappiLabs" class="bio-photo">

        <div class="text-right-img-people">
          <p>Roy is a poker player turned front-end developer. His compassionate heart makes him a great fit for the HappiLabs culture.</p>
          <h5>A fun fact about Roy</h5>
          <ul>
            <li>He's a former breakdancer and still do weddings pro bono on occasion</li>
          </ul>
        </div>
    </div>

  </section>
</div>