<div class="grid">
  <div class="subscribe-us group">
    <section id="price-section">

      <h2>Subscriptions</h2>
      <h4>We're here to help your lab save money and improve the quality of your research. What level of help do you need?</h4>
        
        <div class="container" id="showprice">
          <div class="row-fluid text-center">
            <div class="span4 feature-box price-feature-box">
              <div class="pricing-table price-box">
                    <div class="pricing-table-header">
                      <span class="price-header">10 &#181;l</span> <span class="price-header-price"> (FREE)</span>
                      <img src="pipette100.png" alt="10ul subscription" class="price-photo">
                      <p class="price-value"><em>For All Scientists</em></p>
                      <h3><strong>Our e-newsletter includes:</strong></h3>
                    </div>
                                      
                    <div class="pricing-table-features">
                        <p>Lab management tips</p>
                        <p>Participation in Lab Happiness Surveys</p>
                        <p>Opportunities to review products, companies, and your lab.</p>
                        <p>Resources for scientists</p>

                    </div>
                    <div class="pricing-table-sign-up">
                        <%= link_to "Sign Up Now (FREE)", new_subscriber_url, class: "btn btn-large btn-block btn-inverse btn-price" %>
                    </div>
                  </div>
            </div>

            <div class="span4 feature-box price-feature-box ">
              <div class="pricing-table red price-box">
                <div class="pricing-table-header">
                  <span class="price-header">200 &#181;L </span><span class="price-header-price">($195.00)</span>
                  <img src="pipette200.png" alt="10ul subscription" class="price-photo">
                  <p class="price-value"><em>Ideal For All Labs</em></p>
                  <span class="price-value"><strong>HappiReports include:</strong></span>
                </div>

                    <div class="pricing-table-features">
                        <p>Product quality reviews & ratings</p>
                        <p>Product pricing analysis</p>
                        <p>Recommedations for which companies to buy from</p>
                        <p>Sustainability</p>
                    </div>
                    <div class="pricing-table-sign-up">
                        <a href="200ul.html" class="btn btn-large btn-danger btn-block btn-price">Learn More</a>
                    </div>
                  </div>
            </div>

            <div class="span4 feature-box price-feature-box ">
              <div class="pricing-table green price-box">
                    <div class="pricing-table-header">
                  <span class="price-header">1000 &#181;L </span><span class="price-header-price">(Starting at $500)</span>
                  <img src="pipette1000.png" alt="10ul subscription" class="price-photo">
                  <p class="price-value"><em>Get a Free Quote</em></p>
                  <span class="price-value"><strong>Rent-a-Lab-Manager and we'll:</strong></span>
                </div>
                  <div class="pricing-table-space"></div>
                    <div class="pricing-table-features">
                        <p>Search for product needs</p>
                        <p>Analyze your spending habits</p>
                        <p>Negotiate with sales reps</p>
                        <p>Train new lab managers</p>
                        <p>Organize your inventory</p>
                        <p>Send you the HappiReports</p>
                   </div>
                    <div class="pricing-table-sign-up">
                        <a href="#" class="btn btn-large btn-success btn-block btn-price">Learn More</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>

