<div class="grid">
  <div class="subscribe-us group">
    <section id="price-section">

      <div class="page-heading">
        <h2>Subscriptions</h2>
        <h4>We're here to help your lab save money and improve the quality of your research.</h4>
        <h4>What volume of help do you need?</h4>
      </div>

        <div class="container" id="showprice">
          <div class="row-fluid text-center">


            <div class="span4 feature-box price-feature-box">
              <div class="pricing-table price-box">
                    <div class="pricing-table-header">
                      <span class="price-header">10 &#181;L</span> <span class="price-header-price"> (FREE)</span>
                      <img src="pipette100.png" alt="10ul subscription" class="price-photo">
                      <p class="ideal"><em>For All Scientists</em></p>
                      <span class="price-value">E-newsletter includes:</span>
                    </div>

                    <div class="pricing-table-features">
                        <p>Lab management tips</p>
                        <p>Participation in Lab Happiness Surveys</p>
                        <p>Opportunities to review products, companies, and your lab.</p>
                        <p>Resources for scientists</p>

                    </div>
                    <div class="pricing-table-sign-up">
                        <%= link_to "Sign Up Now (FREE)", new_subscriber_url, class: "btn btn-large btn-block btn-danger btn-price" %>
                    </div>
                  </div>
            </div>


            <div class="span4 feature-box price-feature-box ">
              <div class="pricing-table red price-box">
                <div class="pricing-table-header">
                  <span class="price-header">200 &#181;L </span><span class="price-header-price">($195.00)</span>
                  <img src="pipette200.png" alt="10ul subscription" class="price-photo">
                    <p class="ideal"><em>Ideal For All Labs</em></p>
                  <span class="price-value">HappiReports include:</span>
                </div>

                    <div class="pricing-table-features">
                        <p>Product quality reviews & ratings</p>
                        <p>Product pricing analysis</p>
                        <p>Recommedations for which companies to buy from</p>
                        <p>Sustainability</p>
                    </div>
                    <div class="pricing-table-sign-up">
                        <%= link_to "Learn More", two_hundred_ml_path, class: "btn btn-large btn-premium btn-block btn-price" %>
                    </div>
                  </div>
            </div>


            <div class="span4 feature-box price-feature-box ">
              <div class="pricing-table green price-box">
                    <div class="pricing-table-header">
                  <span class="price-header">1000 &#181;L </span><span class="price-header-price">(Starting at $500)</span>
                  <img src="pipette1000.png" alt="10ul subscription" class="price-photo">
                  <p class="ideal"><em>For startup labs and labs w/o a manager</em></p>
                  <span class="price-value">Rent-a-Lab-Manager and we'll:</span>
                </div>
                  <div class="pricing-table-space"></div>
                    <div class="pricing-table-features">
                        <p>Search for product needs</p>
                        <p>Analyze your spending habits</p>
                        <p>Negotiate with sales reps</p>
                        <p>Train new lab managers</p>
                        <p>Organize your inventory</p>
                        <p>Send you the HappiReports</p>
                   </div>
                    <div class="pricing-table-sign-up">
                        <%= link_to "Learn More", one_thousand_ml_path, class: "btn btn-large btn-premium btn-block btn-price" %>
                    </div>
                </div>
            </div>


          </div>
        </div>
    </section>
  </div>
</div>

