<div class="grid">
  <div class="content-container subscribe-us group">

      <div class="page-heading">
        <h2>SERVICES</h2>
        <h4>We provide affordable services to reduce costs and increase efficiency for academic and biotech labs.</h4>
        <h4>What volume of help would you like?</h4>
      </div>
        <div class="container" id="showprice">
          <div class="row-fluid text-center">
            <div class="span4 feature-box price-feature-box">
              <div class="pricing-table price-box">
                    <div class="price-header"  id="price10">
                      <span>10 &#181;L</span>

                    </div>
                    <div class="pricing-table-header">

                        <img src="pcr_tubes.jpg" alt="10ul service read product reviews for scientists" title="read and write lab supply product ratings and reviews for happy scientists" class="price-photo">
                    </div>

                    <div class="pricing-table-features">
                        <ul class="subscribe-list">
                          <li>Read or submit <strong>product reviews</strong></li>
                          <li>Use feedback from your peers to make intelligent purchasing decisions.</li>
                        </ul>
                        <!-- <p>Monthly newsletter with useful resources for scientists</p>
                        <p>Ability to review products, companies, and your lab.</p>
                        <p></p> -->
                        <h5 class="sub-price">FREE</h5>
                    </div>
                    <div class="pricing-table-sign-up">
                        <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-large btn-block btn-success btn-price"  %>
                    </div>
              </div>
            </div>


            <div class="span4 feature-box price-feature-box ">
              <div class="pricing-table price-box">

                <div class="price-header" id="price200">
                      <span>200 &#181;L</span>

                </div>
                <div class="pricing-table-header">

                  <img src="ourpeople/Raudel_Sandoval_PhD_HappiLabs_Scientific_Consultant.JPG" alt="200ul subscription to happi reports" title="subscribe to happi labs reports about the price and quality of lab supplies" class="price-photo">

                </div>

                    <div class="pricing-table-features">
                        <ul class="subscribe-list">
                          <li>Save time & money by asking our <strong>Shopping Consultants</strong></li>
                          <li>Receive a one-time lab spending analysis</li>
                        </ul>
                        <h5 class="sub-price"><span id="small-price">Starting at </span>$250<span id="small-price">/quarter</span></h5>
                    </div>
                    
                    <div class="pricing-table-sign-up">
                        <%= link_to "Learn more!", two_hundred_ml_path, class: "btn btn-large btn-premium btn-block btn-price" %>
                    </div>
                  </div>
            </div>


          <div class="span4 feature-box price-feature-box ">
              <div class="pricing-table price-box">
                  <div class="price-header"  id="price1000">
                      <span>1000 &#181;L</span>
                  </div>

                  <div class="pricing-table-header">
                    <img src="happy_virtual_lab_managers.png" alt="10ul subscription for happilabs lab manager report" title="hire a happy lab manager consultant to save money and time" class="price-photo">
                  </div>

                  <div class="pricing-table-space"></div>
                    <div class="pricing-table-features">
                        <!-- <h4>Rent-a-lab-manager to</h4> -->
                        <ul class="subscribe-list">
                          <li>Hire a <strong>Virtual Lab Manager</strong></li>
                          <li>We're in your lab, but we're not</li>
                        </ul>
                         <h5 class="sub-price"><span id="small-price">Starting at </span>$65<span id="small-price">/hour</span></h5>
                    </div>

                    <div class="pricing-table-sign-up">
                        <%= link_to "Learn more...", one_thousand_ml_path, class: "btn btn-large btn-premium btn-block btn-price" %>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <h5>Happy Testimonials</h5>
        <div class="testimonial group">
            
           
            <p class="second-p">"I am happy that a service like this exists; <strong>it makes my job easier.</strong>"</p>
            <p><a href="http://www.rrc.uic.edu/supplycenter/contact"><em>Jenny Beck, Director of the Research Resource Center at University of IL-Chicago</em> (contact Jenny if you have questions)</a></p>
          </div>
          <div class="testimonial group">
        
            <p class="second-p"><span class="testimonial-highlight">We recommend HappiLabs to PI's</span> who need to save time and/or money with selecting the right supplies for their lab"</p>

            <p><a href="http://www.thaxtonlab.com/"><em>Shad Thaxton, MD/PhD, Assistant Professor at Northwestern University</em></a></p>
          </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#sign_up').addClass('active');
});
</script>

