<div class="small-grid">
	<div class="content-container subscribe-us group">

		    <div class="page-heading page-heading-box">
	        <!-- <img src="products/pipette200.png" alt="10ul subscription" id="subscribe-pipette"> -->
              <div class="float-left">
                    <h1><span class="ul">200 &#181;</span>L SUBSCRIPTION</h1>
                <h4>Members receive access to our lab shopping consultants.</h4>
                <br>
                <!-- <h4>You focus on your research, we will focus on your supplies.</h4> -->
              </div>


      	</div>

          <div class="sub-data-box200 group">
              <!-- <img src="lab_price_savings.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph"> -->

              <div class="contact-box contact-box-nopadding" id="big-contact-box">
                  <h2 class="subscribe-price"><span id="small-price">Starting at </span>$250<span id="small-price">/quarter</span></h2>
                  <h4>Ideal for labs asking:</h4>
                  <ul class="subscribe-list">
                    <li><strong>How do I know if my lab is paying a fair price for supplies?</strong></li>
                    <li><strong>Is my lab using high- or low-quality supplies?</strong></li>
                  </ul>
                  <p>If you're not asking these questions...<br>YOU SHOULD!</p>
              </div>

              <div class="contact-box contact-box-nopadding" id="big-contact-box">
                  <h2>Benefits<span class="year"> for your lab</span></h2>
                  
                  <ul class="subscribe-list">
                    <li><strong>Save money.</strong> Access to our shoppers ensures you'll never overpay for supplies.</li>
                    <li><strong>Repeat fewer experiments.</strong> We'll help you avoid low-quality supplies. <a href="http://www.nature.com/news/2010/100423/full/news.2010.200.html">Read the report in <em>Nature</em>.</a></li>
                    <li><strong>Save time.</strong> No more googling or calling sales reps. Our shoppers will do that for you!</li>
                  </ul>
                  
              </div>
          </div>
      	
      	<section class="group">

            <div class="text-left-img" id="small-margins">
    	      	<img src="lab_price_savings.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph">
              <!-- <img src="lab_price_savings.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph"> -->
            </div>

        		<div class="report-right">

        			<p class="text-right-img">As a 200&#181;l member, you will join a community of sharing. We collaborate with other labs in our community and collect pricing and quality data about lab supplies. Then we use it to become better shoppers and help you make smarter purchasing decisions.
              <p class="text-right-img">Starting at $250.00/quarter (depending on the size of your lab), the 200&#181;l membership includes:</p>
              <ol>
                <li class="text-right-img"><strong>A Lab Spending Analysis.</strong> We'll evaluate your history of purchasing (who you buy from and what you pay), compare it to what other labs are paying, and provide you with a report, telling you where you can save money. We <strong><em>guarantee</em></strong> at least $500 in savings.</li>
                <li class="text-right-img"><strong>Access to our Shopping Consultants.</strong> You'll be able to contact our shoppers to ask about product quality or pricing information. Therefore, you will be confident that you're paying a fair price and buying good-quality lab supplies.</li>
                <li class="text-right-img">Receive quarterly <strong>Product Intelligence Reports</strong> with in-depth analysis of lab supplies and equipment, including evaluations of the companies who make and sell them.</li>
                
              </ol>
              <p class="text-right-img">Immediately, you'll be able to make quicker, more informed purchasing decisions, <strong>saving you time and money</strong>.</p>
              <p class="text-right-img">You can <strong>SUBSCRIBE</strong> by filling out the form below. One of our Shopping Consultants will contact you.</p>
              <p class="text-right-img">Questions? <a href="http://www.happilabs.org/contact">CONTACT US.</a></p>
        			
        		</div>
      	</section>
        <p>&nbsp;</p>

      	<section id="quote_report">
          <h2>Request a free report and quote</h2>
      		
          <div id="holding-signup-box">
            <p class="consult-title">Fill out the form and we'll contact you shortly.</p>

            <div class="consult-fields-box">
              <div id="wufoo-q7x4a9">
                Fill out my <a href="http://happilabs.wufoo.com/forms/q7x4a9">online form</a>.
                </div>
                <script type="text/javascript">var q7x4a9;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'happilabs',
                'formHash':'q7x4a9',
                'autoResize':true,
                'height':'540',
                'async':true,
                'header':'show'};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { q7x4a9 = new WufooForm();q7x4a9.initialize(options);q7x4a9.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>

              </div>
            <p>We will not share, distribute, or sell your information.</p>
          </div>

      	</section>

    </div>
</div>
