<div class="small-grid">
	<div class="content-container subscribe-us group">

		    <div class="page-heading page-heading-box">
	        <!-- <img src="products/pipette200.png" alt="10ul subscription" id="subscribe-pipette"> -->
              <div class="float-left">
                    <h1><span class="ul">200 &#181;</span>L SUBSCRIPTION</h1>
                <h4>Receive 1-year access to our price and quality data about laboratory supplies.</h4>
                <br>
                <!-- <h4>You focus on your research, we will focus on your supplies.</h4> -->
              </div>


      	</div>

          <div class="sub-data-box group">
              <!-- <img src="lab_price_savings.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph"> -->

              <div class="contact-box contact-box-nopadding" id="big-contact-box">
                  <h2 class="subscribe-price">$195<span class="year"> /year</span></h2>
                  <h4>Ideal for labs asking:</h4>
                  <ul class="subscribe-list">
                    <li><strong>How do I know if my lab is paying a fair price for supplies?</strong></li>
                    <li><strong>Is my lab using high- or low-quality supplies?</strong></li>
                  </ul>
                  <p>If you're not asking these questions...<br>YOU SHOULD!</p>
              </div>

              <div class="contact-box contact-box-nopadding" id="big-contact-box">
                  <h2>Benefits<span class="year"> for your lab</span></h2>
                  
                  <ul class="subscribe-list">
                    <li><strong>Save money</strong> by never overpaying for lab supplies. Our data informs you what is a fair price.</li>
                    <li><strong>Repeat fewer experiments</strong> by avoiding low-quality supplies --><a href="http://www.nature.com/news/2010/100423/full/news.2010.200.html">Read the report in <em>NATURE</em>.</a></li>
                    <li><strong>Save time.</strong> No more googling or calling sales reps. Quick answers with our data!</li>
                  </ul>
                  
              </div>
          </div>
      	
      	<section class="group">

            <div class="text-left-img" id="small-margins">
    	      	<img src="lab_price_savings.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph">
              <!-- <img src="lab_price_savings.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph"> -->
            </div>

        		<div class="report-right">

        			<p class="text-right-img">As a subscriber, you will join a community of sharing. Data we collect from other labs (see graph on left) is shared on our website. Therefore, you never have to ask a company for a price, you can tell them what price you want to pay.</p>

              <p class="text-right-img">We will also send you a quarterly print report with in-depth analysis about supplies and the companies who sell them<span class="important">. Immediately, you'll be able to make quicker, more informed purchasing decisions.</span></p>
              <p class="text-right-img">You can <strong>SUBSCRIBE</strong> by <a href="http://www.happilabs.org/users/sign_in">logging in</a> or <a href="http://www.happilabs.org/users/sign_up">creating an account</a>.</p>
              <p class="text-right-img">Or request a sample report below. Questions? <a href="http://www.happilabs.org/contact">CONTACT US.</a></p>
        			
        		</div>
      	</section>
        <p>&nbsp;</p>

      	<section id="quote_report">
          <h2>Request a free report and quote</h2>
      		
          <div id="holding-signup-box">
            <p class="consult-title">Fill out the form and we'll contact you shortly.</p>

            <div class="consult-fields-box">
              <div id="wufoo-q7x4a9">
                Fill out my <a href="http://happilabs.wufoo.com/forms/q7x4a9">online form</a>.
                </div>
                <script type="text/javascript">var q7x4a9;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'happilabs',
                'formHash':'q7x4a9',
                'autoResize':true,
                'height':'540',
                'async':true,
                'header':'show'};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { q7x4a9 = new WufooForm();q7x4a9.initialize(options);q7x4a9.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>

              </div>
            <p>We will not share, distribute, or sell your information.</p>
          </div>

      	</section>

    </div>
</div>
