<div class="grid">
	<div class="subscribe-us group">
		
		    <div class="page-heading page-heading-box">
	        <img src="pipette200.png" alt="10ul subscription" id="subscribe-pipette">
              <div class="float-left">
                    <h2><span class="ul">200 &#181;</span>L SUBSCRIPTION</h2>
      	        <h4>Receive 1-year access to our price and quality data about laboratory supplies.</h4>
              </div>
              
                
              
      	</div>
          <img src="savings2.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph">
          <div class="contact-box group" id="big-contact-box">
              <h2 class="subscribe-price">$195.00<span class="year">/year</span></h2>
              <h4>Ideal for labs asking these questions:</h4>
              <ul class="subscribe-list">
                <li>How do I know if my lab is paying a fair price for supplies?</li>
                <li>Is my lab using high- or low-quality supplies?</li>
              </ul>
          </div>
      	<!-- <section class="twohundred_data group">
      		<div class="subscribe-question" id="twomarginleft">
	      		<img src="user_quality_reviews.jpg" alt="Graph of price data" title="Are you paying a fair price?" class="">
	      		<p class="question qleft">Is my lab using low-quality lab supplies?</p>
      		</div>

      		<div class="subscribe-question" id="fortymarginleft">
	      		<img src="savings2.png" alt="Graph of price data" title="Are you paying a fair price?" class="">
	      		<p class="question">How do I know if my lab is paying a fair price?</p>
      		</div>

      	</section> -->

      	<section class="group">
        		<!-- <div id="center-box">
  	      		<ul class="question group">
  		      		<li><i>Am I paying a fair price for lab supplies?</i></li>
  		      		<li><i>How do I know if my lab is using high- or low-quality lab products?</i></li>
  		      	</ul>
  	      	</div> -->

  	      	<img src="report.jpg" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" class="reportimg group">
        		
        		<div class="report-right">
  	      				
        			<p class="text-right-img"><strong>We have your answers.</strong> HappiLabs evaluates companies and products on four categories:</p>
        		<div class="evaluation" id="two-evaluation">
              <ol class="group" id="about-evaluation">
                <li>
                  <div class="evaluation-category">
                    <img src="money-icon.png" alt="What is the price?" title="lab managers fair price supplies" class="eval-photo">
                    <p>Price</p>
                  </div>
                </li>
                <li>
                  <div class="evaluation-category">
                    <img src="science-consumable-quality-star.png" alt="Quality ratings" title="lab managers high quality supplies" class="eval-photo">
                    <p>Quality</p>
                  </div>
                </li>
                <li>
                  <div class="evaluation-category">
                    <img src="life-science-customer_service.png" alt="customer service" title="life science friendly service" class="eval-photo">
                    <p>Service</p>
                  </div>
                </li>
                <li id="green-font">
                  <div class="evaluation-category">
                    <img src="sustainability-happilabs.png" alt="protect our home planet" title="life science sustainability ratings" class="eval-photo">
                    <p id="green-font">Sustainability</p>
                  </div>
                </li>
              </ol>
          </div>
        			
        			<p class="text-right-img" id="">As a subscriber, you will have access to a summary of our evaluations for making quick and accurate decisions about lab supplies. You can avoid googling for hours. <span class="important">Save time</span> by scanning our website or reading the quarterly reports (left) for easy-to-read information.</p>

        			<p class="text-right-img">
        			Let experts tell you the fair price and quality evaluation of the products you are trying to buy. <strong>If you focus on your research, we will make sure you are using the right supplies.</strong><p>
        		</div>
      	</section>

      	<section>

      		<div class="benefit">
      			<h5>The 200 ul subscription will provide you with these benefits for 1-year:</h5>
      			<ul>
      				<li>A quarterly report on our in-depth analysis about the price & quality of common lab supplies</li>
      				<li>Online access to our real-time data</li>
      				<li>Comfort in knowing that you are efficiently spending your grant money and maximizing the quality of your research.</li>
              <li><%= link_to "Want more? See our 1000ul Subscription", new_user_registration_path, class: "btn btn-large btn-block btn-danger" %></li>
      			</ul>
            
      		</div>

          <div id="holding-signup-box">
              <h5>To receive a free quarterly report,<br> sign up below:</h5>
              <ul>
                <li>First name | Last name</li>
                <li>Email</li>
                <li>Phone number</li>
                <li>Job title</li>
                <li>Instituation/Organization</li>
              </ul>
              <!-- <p>This is where the sign up fields will go:<br> first name | last name<br> email<br> phone number<br> job title<br> organization</p>
              <p>Last name</p> -->

            </div>

      	</section>
	
    </div>
</div>