<div class="grid">
	<div class="subscribe-us group">
		
		<div class="page-heading">
	        <h2><span class="ul">200 &#181;</span>L SUBSCRIPTION</h2>
	        <h4>1-year access to our price and quality data will save your lab time and money</h4>
	        <!-- <h4>HappiLabs will bring you comfort in knowing that you are efficiently spending your research dollars. Our reports provide labs with data to make more informed business and lab management decisions.</h4> -->
      	</div>

      	<section class="twohundred_data group">
      		<div class="subscribe-question" id="twomarginleft">
	      		<img src="user_quality_reviews.jpg" alt="Graph of price data" title="Are you paying a fair price?" class="">
	      		<p class="question qleft">Is my lab using low-quality lab supplies?</p>
      		</div>

      		<div class="subscribe-question" id="fortymarginleft">
	      		<img src="savings2.png" alt="Graph of price data" title="Are you paying a fair price?" class="">
	      		<p class="question">How do I know if my lab is paying a fair price?</p>
      		</div>

      	</section>

      	<section class="twobody">
      		<img src="report.jpg" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" class="reportimg group">
      		<div class="report-right group">
      			<p class="text-right-img less-margin">As a researcher, have you asked yourself the questions above? <strong>We have your answers.</strong> Our data provide scientists with the data required to make quick and accurate decisions about lab supplies.</p>
      			<p class="text-right-img less-margin">
      			No more googling. Say goodbye to email tag with sales reps. We'll tell you the fair price and quality evaluation of the products you're trying to buy.<p>
      			<p class="text-right-img less-margin">HappiLabs will bring you comfort in knowing that you are efficiently spending your research dollars. Our reports provide labs with data to make more informed business and lab management decisions.</p>
      		</div>

      	</section>
	
    </div>
</div>