<div class="small-grid">
	<div class="content-container subscribe-us group">

		    <div class="page-heading page-heading-box">
	        <!-- <img src="products/pipette200.png" alt="10ul subscription" id="subscribe-pipette"> -->
              <div class="float-left">
                    <h1><span class="ul">200 &#181;</span>L SUBSCRIPTION</h1>
                <h4>Receive 1-year access to our price and quality data about laboratory supplies.</h4>
                <br>
                <!-- <h4>You focus on your research, we will focus on your supplies.</h4> -->
              </div>


      	</div>

          <div class="sub-data-box group">
              <!-- <img src="lab_price_savings.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph"> -->

              <div class="contact-box contact-box-nopadding" id="big-contact-box">
                  <h2 class="subscribe-price">$195<span class="year"> /year</span></h2>
                  <h4>Ideal for labs asking:</h4>
                  <ul class="subscribe-list">
                    <li><strong>How do I know if my lab is paying a fair price for supplies?</strong></li>
                    <li><strong>Is my lab using high- or low-quality supplies?</strong></li>
                  </ul>
                  <p>If you're not asking these questions...<br>YOU SHOULD!</p>
              </div>

              <div class="contact-box contact-box-nopadding" id="big-contact-box">
                  <h2>Benefits<span class="year"> for your lab</span></h2>
                  
                  <ul class="subscribe-list">
                    <li><strong>Save money</strong> by never overpaying for lab supplies. Our data informs you what is a fair price.</li>
                    <li><strong>Repeat fewer experiments</strong> by avoiding low-quality supplies --><a href="http://www.nature.com/news/2010/100423/full/news.2010.200.html">Read the report in <em>NATURE</em>.</a></li>
                    <li><strong>Save time.</strong> No more googling or calling sales reps. Quick answers with our data!</li>
                  </ul>
                  
              </div>
          </div>
      	
      	<section class="group">

  	      	<img src="lab_price_savings.png" alt="Sample HappiReport" title="HappiLabs Price and Quality Report for Lab Managers" id="price-graph">

        		<div class="report-right">

        			<p class="text-right-img" id="">As a subscriber, you will have access to a summary of evaluations and data about the price and quality of lab supplies. You can avoid googling for hours and going back-and-forth with sales reps. <span class="important">Make quick, informed decisions</span> by scanning our website or reading the quarterly reports (left).</p>
              <p class="text-right-img">You can <strong>SUBSCRIBE</strong> by <a href="http://www.happilabs.org/users/sign_in">logging in</a> or <a href="http://www.happilabs.org/users/sign_up">creating an account</a>.</p>
              <p class="text-right-img">Or request a sample report below.</p>
        			<p class="text-right-img">
        			<strong>If you focus on your research, we will make sure you are using high quality supplies.</strong><p>
        		</div>
      	</section>
        <p>&nbsp;</p>

      	<section id="quote_report">
          <h2>Request a free report and quote</h2>
      		<div class="benefit">
      			<h5>The 200 ul subscription will provide you with these benefits for 1-year:</h5>
      			<ul>
      				<li>A quarterly report on our in-depth analysis about the price & quality of common lab supplies</li>
      				<li>Online access to our real-time data</li>
      				<li>Comfort in knowing that you are efficiently spending your grant money and maximizing the quality of your research.</li>
              <li><%= link_to "Want more? See our 1000ul Subscription", one_thousand_ml_url, class: "btn btn-large btn-block btn-success" %></li>
      			</ul>

      		</div>
          <div id="holding-signup-box">
            <p class="consult-title">Fill out the form and we'll send you a report and quote.</p>

            <div class="consult-fields-box">
              <div id="wufoo-q7x4a9">
                Fill out my <a href="http://happilabs.wufoo.com/forms/q7x4a9">online form</a>.
                </div>
                <script type="text/javascript">var q7x4a9;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'happilabs',
                'formHash':'q7x4a9',
                'autoResize':true,
                'height':'540',
                'async':true,
                'header':'show'};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { q7x4a9 = new WufooForm();q7x4a9.initialize(options);q7x4a9.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>

              </div>
            <p>We will not share, distribute, or sell your information.</p>
          </div>

          <!-- <div id="holding-signup-box">
              <h5>To receive a quote, fill this out and we'll send you one:</h5>
              <ul>
                <li>First name | Last name</li>
                <li>Email</li>
                <li>Phone number</li>
                <li>Job title</li>
                <li>Instituation/Organization</li>
              </ul> -->
              <!-- <p>This is where the sign up fields will go:<br> first name | last name<br> email<br> phone number<br> job title<br> organization</p>
              <p>Last name</p> -->

            <!-- </div>
 -->
      	</section>

    </div>
</div>
