
<div class="grid voice-container">
  <div class="upper-section group">
    <h2 class="darktitle">Your job is knowing your research.</h2>
    <h2 class="darktitle">Our job is knowing your products.</h2>

    <div class="review-btn-row group">
      <div class="search-option">
        <h3>Search Quality Reviews</h3>
        <div class="review-btn btn btn-large btn-block-third btn-warning">
          Select a Category
        </div>
      </div>

      <div class="search-option">
        <h3>Who are the greenest companies?</h3>
        <div class="review-btn btn btn-large btn-block-third btn-warning">
          View Sustainability Ratings
        </div>
      </div>
    </div>
  </div>

</div>





















