<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for signing up for our newsletter, <%= @subscriber.first_name %>.</h1>

    <p>You will start receiving information aimed at improving your happiness and the quality of your science.</p>
    <p>If you're not a scientist, then you can look forward to our fun science-y content (YouTube videos, blogs posts, and more!).</p>

    <p>Enjoy your day,</p>

    <p>Tom Ruginis</p>
    <p>-------</p>
    <p>Founder and President</p>
  </body>
</html>

