<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for signing up for our newsletter, <%= @subscriber.first_name %>.</h1>

    <p>Expect about one per month. We curate content aimed at improving your happiness and the quality of your research.</p>

    <p>Follow us on Twitter for more frequent updates: <a href="https://twitter.com/happilabs_org">@HappiLabs_org</a></p>
    <p>We're here to help,</p>

    <p>Tom Ruginis</p>
    <p>-------</p>
    <p>CEO and Virtual Lab Manager</p>
  </body>
</html>

