<div class="background">
    <h1>Sign up for our bi-weekly newsletter</h1>

  <div class="text-right-img">
    <h3>You'll join our community of scientists and be updated about:</h3>
    <div class="center-box">
      <ul id="benefits">
        <li>Tips for saving money on lab supplies & equipment</li>
        <li>New companies and websites for scientists</li>
        <li>Advice for managing labs and experiments</li>
        <li>Job and internship opportunities</li>
        <li>And our coffee giveaways</li>
      </ul>
  </div>
</div>

  <div id="signup-box">
    <%= render 'form' %>
  </div>
</div>
