<div class="grid">
  <div class="top-padded group">
      <h1>Sign up for our e-newsletter</h1>

    <div class="text-right-img">
      <h4>Join 100's of scientists in our community and be updated about:</h4>
      <div class="center-box">
        <ul id="benefits">
          <li>Tips for saving money on lab supplies & equipment</li>
          <li>New companies and websites for scientists</li>
          <li>Advice for managing labs and experiments</li>
          <li>Job and internship opportunities</li>
          <li>And our coffee giveaways</li>
        </ul>
      </div>
    </div>
    <!-- <h4>Join 100's of scientists in our community and be updated about:</h4>
      <div class="center-box">
        <ul id="benefits">
          <li>Job opportunities & internships</li>
          <li>Tips for saving money on lab supplies & equipment</li>
          <li>New companies and websites for scientists</li>
          
          <li>Our coffee giveaways!</li>
        </ul>
      </div> -->

    <div class="signup-box">
     
      <%= render 'form' %>
    </div>
  </div>
</div>
