/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .blue {
   color: #00AEEF;
 }

 #product_qualities {
   margin-top: 85px;
   width: 350px;
   float: right;
 }

 #product_show_review {
   background-color: #EAEAEA;
   padding: 10px;
   margin-bottom: 5px;
   border-radius: 10px;
 }

 #error_explanation {
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   border: 2px solid yellow;
   border-radius: 10px;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom: 20px;
   background-color: gray;
   opacity: .8;
 }

 #error_explanation h2 {
   text-align: center;
   font-weight: bold;
   padding: 5px 5px 10px 15px;
   font-size: 12px;
   margin: -7px;
   color: #fff;
   line-height: 30px;
 }

 #error_explanation p {
   color: #333;
   margin-bottom: 0;
   padding: 5px;
 }

 #error_explanation ul li {
   text-align: center;
   font-size: 12px;
   list-style-type: none;
   font-size: 18px;
   color: #77cc33;
 }

#notice {
   text-align: center;
   padding-top: 50px;
   padding-bottom: 0px;
   text-align: center;
   font-size: 12px;
   list-style-type: none;
   font-size: 18px;
   color: #77cc33;
}

#homepage_messages {
   margin-left: auto;
   margin-right: auto;
   width: 300px;
   border: 2px solid yellow;
   border-radius: 10px;
   padding: 7px;
   padding-bottom: 12px;
   margin-bottom: 20px;
   background-color: gray;
   opacity: .8;
   color: #77cc33;
}

 /*voices*/

 .center {
   text-align: center;
 }

 .left-text {
   text-align: left;
 }

 #profile_heading {
   float: left;
   width: 350px;
   margin-left: 70px;
   margin-right: 50px;
   padding-bottom: 20px;
   padding-left: 30px;
 }

 #edit_profile_toggle_button {
   float: left;
   width: 200px;
 }

 #user_profile {
   float: left;
   width: 300px;
 }

 .profile_tab_box {
   float: left;
   width: 600px;

 }

 .voice-container {
   width: 100%;
   margin: 0 auto;
   background-image: url('tiny_grid.png');
 }

 .upper-section {
   padding: 50px 20px;
 }

 .review-btn {
   width: 250px;
   /*margin-left: 30px;
   margin-bottom: 20px;*/
   position: absolute;
   left: 85px;
 }

 .review-btn-row {
   margin: 0 auto;
   margin-top: 50px;
   width: 960px;
 }

 .darktitle {
   font-size: 38px;
   text-align: center;
   color: #77cc33;
   text-shadow: 1px 1px 1px #00aeef;
   font-weight: 500;
   text-transform: none;
   line-height: 52px;
 }

 .search-option {
   width: 420px;
   float: left;
   position: relative;
   margin-bottom: 70px;
   margin-left: 30px;
 }

 .search-option,
 .submit-option h3 {
   color: #898989;
   padding-bottom: 10px;
 }

 .submit-option {
   height: 100px;
   width: 500px;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 40px;
 }

 .submit-btn {
   margin-left: 76px;
   margin-top: 10px;
   width: 150px;
 }

 .isolated-box p {
  text-align: left;
 }


 #new_message {
  width: 220px;
  float: left;
 }

.sorted_products {
   margin-left: 80px;
}


