
h1 {
	color: #898989;
}

h2 {
	line-height: 60px;
	font-size: 48px;
	font-family: "open sans", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
}

.about-us h2 {
		color: #00AEEF;
		margin: 0 auto;
		margin-bottom: 10px;
		margin-bottom: 20px;
	}

.sky-background h2 {
	color: #00AEEF;
	margin: 0 auto;
	margin-bottom: 60px;
}

.about-us h4 {
		font-size: 14px;
		color: black;
		font-weight: 400;
		text-align: left;
		height: 70px;
	}

.pricing-table-features p {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 200;
		font-size: 14px;
		text-align: left;
		margin: 10px;
	}

.about-us {
		width: 1100px;
		margin: 0 auto;
		/*height: 300px;*/
		/*margin-top: 20px;*/
		border-bottom: 3px solid #898989;
		padding-bottom: 100px;
		padding-top: 50px;
	}


.about-us ul {
	height: 100px;
}

.tom-image {
		float: left;
		height: 330px;
		width: 300px;
		padding: 10px 0px 0px 50px;
		margin: 10px 20px 0px 50px;
	}

.graph-image {
	float: left;
	height: 40%;
	width: 30%;
	padding: 10px 0px 0px 50px;
	margin: 10px 20px 0px 50px;
}

.shoutout {
	font-size: 10px;
	width: 120px;
	height: 100px;
	float: right;
	color: #898989;
}

.text-right-img {
	float: left;
	width: 500px;
	padding-left: 20px;
	margin-left: 50px;
	line-height: 32px;
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-right-img2 {
	margin-left: 50px;
}

.why-img {
	width: 100%;
	/*height: 154px;
	width: 179px;*/
}

.welcome-img {
	position: relative;
	bottom: 50px;
	right: 125px;
	height: 200px;


	width: 100px;
	border-radius: 30px;
}

.pipettordrip {
	position: relative;
	top: 270px;
	left: 249px;
}


.grid {
	background-image: url(tiny_grid.png);
}

.why-box {
	padding: 10px;
	height: 470px;
}

.price-box {
	height: 670px;
}

	.group:after {
 		content: "";
  		display: table;
  		clear: both;
}

.sky-background {
	background-color: #CEF3FF;
}

.sky-background ul {
	margin-bottom: 30px;
}

.sky-background li {
	line-height: 30px;
	list-style: none;
}

.btn-price {
	width: 270px;
	position: absolute;
	top: 600px;
	right: 14px;
}

.btn-why {
	margin-top: 15px;
	margin-left: 338px;
	box-shadow: 2px 2px 2px #898989;
}

.img-holder {
	background-color: #CCF2FF;
	width: 300px;
	height: 160px;
}

.price-value {
	text-align: left;
	padding-bottom: 16px;
}

#arrow-li ul {
	list-style-image: url(assets/img/old_go_next.png);
	color: #00AEEF;
	font-size: 18px;
}

#arrow-li ul li {
	line-height: 30px;
}

.important {
	font-weight: 500;
	letter-spacing: 1px;
	padding: 0px 3px 0px 3px;
}

.important-blue {
	color: #00AEEF;
}


.price-photo {
	margin-top: 30px;
}


#header-section .hero-unit {
	padding: 70px 20px 20px;
}

.navbar-fixed-top{
	margin-bottom:30px;
}

.navbar-inverse .navbar-inner{
	padding:5px 0px;
}
.hero-unit h1{
	font-size:40px;
	line-height:50px;
}

#header-section .innerbg {
	min-height: 450px;
	height:100%;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
    color: #ffff00;
  }


.innerbg {
 background: rgba(44, 62, 80, 0.8) url(cover2.jpg) 50% 0 fixed repeat;
 min-height:650px;
 width:100%;
 display:inline-block;
 margin:0px;
 padding:0px;
 background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 -webkit-background-size: cover;
 position:relative;
 padding-bottom:50px;
}

.leftbg {
  background: rgba(40, 170, 157, 0.4) url(pixel.png) 0% 0% repeat;
  min-height:100%;
  height:100%;
  width:100%;
  display:block;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  position:absolute;
  bottom:0px;
  z-index:1;
}

.feature-box ul li{
  list-style: square;
  text-align: left;
  font-size: 12px;
}

.get-it {
  font-size: 23px;
  text-transform: uppercase;
}

.page-header h3 {
  color: #00AEEF;
  font-weight: 200;
  /*border-bottom: 14px solid #898989;
  border-top: 14px solid #898989;*/
}


.btn.btn-danger {
  background-color: #FFFF00;
  box-shadow: 2px 2px 8px #898989;
}

.btn.btn-success {
  background: #34495E;
}

.gray .pricing-table-header .price-header {
  background: #898989;
}

.green .pricing-table-header .price-header {
  background: #898989;
}

.dark-green .pricing-table-header .price-header {
  background: green;
}

.red .pricing-table-header .price-header {
  background: #00b0f0;
}

.small-font {
  font-size: 14px;
}


.center-box {
	width: 450px;
	margin: 0 auto;
}

.text-right-img {
		float: left;
		width: 520px;
		padding-left: 20px;
		margin: 25px 0 0px 50px;
		line-height: 32px;
		font-size: 16px;
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

#benefits li {
	padding: 5px 0 5px 5px;
	font-size: 18px;
	font-weight: 400;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #333;
}

#signup-box {
	width: 350px;
	height: 320px;
	margin: 35px 0 150px 30px;
	background-image: url(pipettetip.jpg);
	background-size: contain;
	border-radius: 5px;
	float: left;
	border: 2px solid #00AEEF;
	padding: 15px;
}

.grid {
	background-image: url(tiny_grid.png);
}
