<!-- Product List (Categories Show) -->



<h1 class='container'>Rating's and Reviews</h1>
<div class='container group'>
  <aside class='category-review-list'>
    <h4>Select a Category</h4>
    <ul>
      <li><a href="">Category 1</a></li>
      <li><a href="">Category 2</a></li>
      <li><a href="">Category 3</a></li>
      <li><a href="">Category 4</a></li>
      <li><a href="">Category 5</a></li>
      <li><a href="">Category 6</a></li>
      <li><a href="">Category 7</a></li>
      <li><a href="">Category 8</a></li>
      <li><a href="">Category 9</a></li>
      <li><a href="">Category 10</a></li>
      <li><a href="">Category 11</a></li>
      <li><a href="">Category 12</a></li>
    </ul>
  </aside>
  <section class='category-review-show'>
  	<div class='selected-category-frame'>
  		<!-- insert selected category in here -->
  	</div>
  	<article class='manufacturer-preview'>
  		<!-- insert manufacturer preview in here -->
  	</article>
  </section>
</div>


