<!-- Product List (Categories Show) -->
<h2 class='page-heading'>Rating's and Reviews</h2>
<div class='container group'>
  <aside class='category-review-list'>
    <h4>Select a Category</h4>
    <ul>
      <li><a href="">Category 1</a></li>
      <li><a href="">Category 2</a></li>
      <li><a href="">Category 3</a></li>
      <li><a href="">Category 4</a></li>
      <li><a href="">Category 5</a></li>
      <li><a href="">Category 6</a></li>
      <li><a href="">Category 7</a></li>
      <li><a href="">Category 8</a></li>
      <li><a href="">Category 9</a></li>
      <li><a href="">Category 10</a></li>
      <li><a href="">Category 11</a></li>
      <li><a href="">Category 12</a></li>
    </ul>
  </aside>
  <section class='category-review-show'>
  	<article class='selected-category-frame group'>
  		<img src="pipette100.png">
  		<h3>15 ml Conical Tube</h3>
  		<dl class='center'>
  			<dt>Fair Price:</dt>
  			<dd>$80.00</dd>
  		</dl>
  		<ul>
  		<h4>Qualities to look for</h4>
  			<li>attribute 1</li>
  			<li>attribute 2</li>
  			<li>attribute 3</li>
  		</ul>
  	</article>


  	<article class='manufacturer-preview'>
  		<div class='man-preview-left'>
  			<img src="pipette100.png">
  			<p class='brand center'>Brand</p>
  			<p class='center'>Distributor</p>
  			<dl class='product-number'>
  				<dt>Product no.</dt>
  				<dd>1234567890</dd>
  			</dl>
  			<dl class='name-description'>
  				<dt>product name</dt>
  				<dd>product description</dd>
  			</dl>
  			<a href='' class='review-box'>
  				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  minim veniam, quis nostrud exercitation </p>
  			</a>
  		</div>
  		<div class='man-preview-right center'>
  			<dl class='rating'>
  				<dt>Rating:</dt>
  				<dd>4.2</dd>
  				<dd class='side-note'>(out of 12 reviews)</dd>
  			</dl>
  			<dl class='quality-price'>
  				<dt>Quality:</dt>
  				<dd>xxxxxxx</dd>
  				<dt>Price:</dt>
  				<dd>xxxxxx</dd>
  			</dl>
  		</div>	
  	</article>


  </section>
</div>


