<div class="grid">
  <div class="content-container subscribe-us group">
    <div class="page-heading page-heading-box">

        <h2>Thank you!</h2>
        <h5>Your credit card has been charged $195.00 for an annual subscription.</h5>
        <ul>
          <li><h5><%= link_to "Check out Reviews", categories_url %></h5></li>
          <li><h5><%= link_to "Go to Your Profile", edit_user_registration_url %></h5></li>
        </ul>
    </div>
  </div>
</div>


