<div class="grid">
  <div class="subscribe-us group">

        <%= form_tag charges_path do %>
          <article>
              <label class="amount">
                <span>Amount: $195</span>
              </label>
          </article>

            <script src="https://checkout.stripe.com/v2/checkout.js"
                    class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="200 ul Annual Subscription"
                    data-amount="19500">
            </script>
        <% end %>

  </div>
</div>
